@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Object>

@if(Model != null) {
    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-ul">
                            <li class="breadcrumb-li">
                                <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="breadcrumb-li">
                                <span class="breadcrumb-text">wishlist</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- wishlist-product start -->
    <section class="wishlist-product section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- wishlist-page start -->
                    <div class="wishlist-page">
                        <div class="wishlist-area">
                            <div class="wishlist-details">
                                <div class="wishlist-item">
                                    <span class="wishlist-head">My wishlist:</span>
                                    <span class="sp-link-title">5 Item</span>
                                </div>
                                <div class="wishlist-all-pro">
                                    <div class="wishlist-pro">
                                        <div class="wishlist-pro-image">
                                            <a href="product.html">
                                                <img src="~/customer/img/menu/home1-pro-banner1.jpg" class="img-fluid" alt="p-1">
                                            </a>
                                        </div>
                                        <div class="pro-details">
                                            <h6>
                                                <a href="product-template2.html">Castle cactus - Green</a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="qty-item">
                                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="add-wishlist">Add to cart</a>
                                        <a href="/Customer/Payment/Index" class="add-wishlist">Buy now</a>
                                    </div>
                                    <div class="all-pro-price">
                                        <div class="price-box">
                                            <span class="new-price">Rs. 21.00</span>
                                            <span class="old-price">Rs. 25.00</span>
                                        </div>
                                        <span class="wishalist-icon"><i class="fa fa-heart text-danger"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wishlist-area">
                            <div class="wishlist-details">
                                <div class="wishlist-all-pro">
                                    <div class="wishlist-pro">
                                        <div class="wishlist-pro-image">
                                            <a href="product.html">
                                                <img src="~/customer/img/menu/home1-pro-banner2.jpg" class="img-fluid" alt="p-2">
                                            </a>
                                        </div>
                                        <div class="pro-details">
                                            <h6>
                                                <a href="product-template2.html">Snake plant</a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="qty-item">
                                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="add-wishlist">Add to cart</a>
                                        <a href="/Customer/Payment/Index" class="add-wishlist">Buy now</a>
                                    </div>
                                    <div class="all-pro-price">
                                        <div class="price-box">
                                            <span class="new-price">Rs. 54.00</span>
                                            <span class="old-price">Rs. 65.00</span>
                                        </div>
                                        <span class="wishalist-icon"><i class="fa fa-heart text-danger"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wishlist-area">
                            <div class="wishlist-details">
                                <div class="wishlist-all-pro">
                                    <div class="wishlist-pro">
                                        <div class="wishlist-pro-image">
                                            <a href="product.html">
                                                <img src="~/customer/img/menu/home1-pro-banner3.jpg" class="img-fluid" alt="p-3">
                                            </a>
                                        </div>
                                        <div class="pro-details">
                                            <h6>
                                                <a href="product-template2.html">Bird of paradise</a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="qty-item">
                                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="add-wishlist">Add to cart</a>
                                        <a href="/Customer/Payment/Index" class="add-wishlist">Buy now</a>
                                    </div>
                                    <div class="all-pro-price">
                                        <div class="price-box">
                                            <span class="new-price">Rs. 21.00</span>
                                            <span class="old-price">Rs. 45.00</span>
                                        </div>
                                        <span class="wishalist-icon"><i class="fa fa-heart text-danger"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wishlist-area">
                            <div class="wishlist-details">
                                <div class="wishlist-all-pro">
                                    <div class="wishlist-pro">
                                        <div class="wishlist-pro-image">
                                            <a href="product.html">
                                                <img src="~/customer/img/menu/home1-pro-banner4.jpg" class="img-fluid" alt="p-4">
                                            </a>
                                        </div>
                                        <div class="pro-details">
                                            <h6>
                                                <a href="product-template2.html">Chinese evergreen</a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="qty-item">
                                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="add-wishlist">Add to cart</a>
                                        <a href="/Customer/Payment/Index" class="add-wishlist">Buy now</a>
                                    </div>
                                    <div class="all-pro-price">
                                        <div class="price-box">
                                            <span class="new-price">Rs. 24.00</span>
                                            <span class="old-price">Rs. 29.00</span>
                                        </div>
                                        <span class="wishalist-icon"><i class="fa fa-heart text-danger"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wishlist-area">
                            <div class="wishlist-details">
                                <div class="wishlist-all-pro">
                                    <div class="wishlist-pro">
                                        <div class="wishlist-pro-image">
                                            <a href="product.html">
                                                <img src="~/customer/img/menu/home1-pro-banner5.jpg" class="img-fluid" alt="p-5">
                                            </a>
                                        </div>
                                        <div class="pro-details">
                                            <h6>
                                                <a href="product-template2.html">Wheat grass</a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="qty-item">
                                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="add-wishlist">Add to cart</a>
                                        <a href="/Customer/Payment/Index" class="add-wishlist">Buy now</a>
                                    </div>
                                    <div class="all-pro-price">
                                        <div class="price-box">
                                            <span class="new-price">Rs. 24.00</span>
                                            <span class="old-price">Rs. 50.00</span>
                                        </div>
                                        <span class="wishalist-icon"><i class="fa fa-heart text-danger"></i></span>
                                    </div>
                                </div>
                                <div class="other-link">
                                    <ul class="other-ul">
                                        <li class="wishlist-other-link">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Index" class="btn btn-style2">Continue shopping</a>
                                        </li>
                                        <li class="wishlist-other-link">
                                            <a href="wishlist-empty.html" class="btn btn-style2">Clear wishlist</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- wishlist-page end -->
                </div>
            </div>
        </div>
    </section>
    <!-- wishlist-product end -->
} else
{
    <!-- breadcrumb start -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="col">
                    <div class="row">
                        <div class="breadcrumb-index">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-ul">
                                <li class="breadcrumb-li">
                                    <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="breadcrumb-li">
                                    <span class="breadcrumb-text">Wishlist</span>
                                </li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <!-- Wishlist empty start -->
        <section class="cart-page section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="empty-cart-page">
                            <div class="section-capture">
                                <div class="section-title">
                                    <h2><span>Wishlist empty</span></h2>
                                    <p>Sorry your wishlist has currently no more products, click on 'here' given below for continue browsing.</p>
                                    <p>
                                        Continue browsing
                                        <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">here</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Wishlist empty end -->
    
}