    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-ul">
                            <li class="breadcrumb-li">
                                <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="breadcrumb-li">
                                <span class="breadcrumb-text">About-us</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- about-area start -->
    <section class="about-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="about-content">
                        <!-- about title start -->
                        <div class="section-capture">
                            <div class="section-title">
                                <h2><span>About us</span></h2>
                            </div>
                        </div>
                        <!-- about title end -->
                        <!-- about banner start -->
                        <div class="about-banner">
                            <div class="about-banner-area section-pt">
                                <ul class="about-ul">
                                    <!-- about img start -->
                                    <li class="about-li about-company">
                                        <img src="~/customer/img/about/our-company.png" class="img-fluid" alt="our-company">
                                    </li>
                                    <!-- about img end -->
                                    <!-- about desc start -->
                                    <li class="about-li abt-desc">
                                        <h6>Our company</h6>
                                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                                    </li>
                                    <!-- about desc end -->
                                </ul>
                            </div>
                            <div class="about-banner-area section-pt">
                                <ul class="about-ul">
                                    <!-- about img start -->
                                    <li class="about-li about-company">
                                        <img src="~/customer/img/about/team-work.png" class="img-fluid" alt="team-work">
                                    </li>
                                    <!-- about img end -->
                                    <!-- about desc start -->
                                    <li class="about-li abt-desc">
                                        <h6>Team work</h6>
                                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                                    </li>
                                    <!-- about desc end -->
                                </ul>
                            </div>
                        </div>
                        <!-- about banner end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area end -->
    <!-- about-vision start-->
    <section class="about-vision section-pt bg-color">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="abt-vision">
                        <ul class="abt-vision-ul">
                            <li class="abt-vision-li">
                                <div class="abt-vision-content">
                                    <img src="~/customer/img/about/Our-mission.html" class="img-fluid" alt="Our-mission">
                                    <h6>Our mission</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry's standard dummy text ever since the 1500s</p>
                                </div>
                            </li>
                            <li class="abt-vision-li">
                                <div class="abt-vision-content">
                                    <img src="~/customer/img/about/Our-vision.html" class="img-fluid" alt="Our-vision">
                                    <h6>Our vision</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry's standard dummy text ever since the 1500s</p>
                                </div>
                            </li>
                            <li class="abt-vision-li">
                                <div class="abt-vision-content">
                                    <img src="~/customer/img/about/Our-idea.html" class="img-fluid" alt="Our-idea">
                                    <h6>Our idea</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry's standard dummy text ever since the 1500s</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-vision end-->
    <!-- project-count start-->
    <section class="project-count section-ptb bg-color">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="single-count">
                        <ul>
                            <li class="count-wrap">
                                <!-- project info start -->
                                <div class="count-info">
                                    <div class="count">
                                        <span class="count-number">10</span>
                                        <span>+</span>
                                    </div>
                                    <h6>Years</h6>
                                </div>
                                <!-- project info end -->
                                <!-- project icon start -->
                                <div class="counter-icon">
                                    <a href="javascript:void(0)"><i class="bi bi-briefcase"></i></a>
                                </div>
                                <!-- project icon end -->
                            </li>
                            <li class="count-wrap">
                                <!-- project info start -->
                                <div class="count-info">
                                    <div class="count">
                                        <span class="count-number">100</span>
                                        <span>+</span>
                                    </div>
                                    <h6>Clients</h6>
                                </div>
                                <!-- project info end -->
                                <!-- project icon start -->
                                <div class="counter-icon">
                                    <a href="javascript:void(0)"><i class="bi bi-people"></i></a>
                                </div>
                                <!-- project icon end -->
                            </li>
                            <li class="count-wrap">
                                <!-- project info start -->
                                <div class="count-info">
                                    <div class="count">
                                        <span class="count-number">50</span>
                                        <span>+</span>
                                    </div>
                                    <h6>Shops</h6>
                                </div>
                                <!-- project info end -->
                                <!-- project icon start -->
                                <div class="counter-icon">
                                    <a href="javascript:void(0)"><i class="bi bi-shop"></i></a>
                                </div>
                                <!-- project icon end -->
                            </li>
                            <li class="count-wrap">
                                <!-- project info start -->
                                <div class="count-info">
                                    <div class="count">
                                        <span class="count-number">17</span>
                                        <span>M+</span>
                                    </div>
                                    <h6>Sales</h6>
                                </div>
                                <!-- project info end -->
                                <!-- project icon start -->
                                <div class="counter-icon">
                                    <a href="javascript:void(0)"><i class="bi bi-tags"></i></a>
                                </div>
                                <!-- project icon end -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project-count end-->
    <!-- about-team start-->
    <section class="about-team section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="our-team">
                        <div class="section-capture">
                            <div class="section-title">
                                <h2><span class="title-main">Our team</span></h2>
                            </div>
                        </div>
                        <div class="team-wrap">
                            <ul class="team-ul">
                                <li class="team-li">
                                    <a href="javascript:void(0)" class="banner-img">
                                        <img src="~/customer/img/team/team-1.jpg" class="img-fluid" alt="team-1">
                                    </a>
                                    <div class="team-info">
                                        <h6>Johnny walker</h6>
                                        <span>Web designer</span>
                                    </div>
                                </li>
                                <li class="team-li">
                                    <a href="javascript:void(0)" class="banner-img">
                                        <img src="~/customer/img/team/team-2.jpg" class="img-fluid" alt="team-2">
                                    </a>
                                    <div class="team-info">
                                        <h6>Rebecca flex</h6>
                                        <span>Support staff</span>
                                    </div>
                                </li>
                                <li class="team-li">
                                    <a href="javascript:void(0)" class="banner-img">
                                        <img src="~/customer/img/team/team-3.jpg" class="img-fluid" alt="team-3">
                                    </a>
                                    <div class="team-info">
                                        <h6>Jan ringo</h6>
                                        <span>Deputy sale</span>
                                    </div>
                                </li>
                                <li class="team-li">
                                    <a href="javascript:void(0)" class="banner-img">
                                        <img src="~/customer/img/team/team-4.jpg" class="img-fluid" alt="team-4">
                                    </a>
                                    <div class="team-info">
                                        <h6>Ringo kai</h6>
                                        <span>Policy member</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-team end-->\