<section class="coming-soon-area">
    <div class="customer-area">
        <div class="customer-content">
            <div class="comming-wrap">
                <div class="acc-form">
                    <div class="header-theme-logo">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="theme-logo">
                            <img src="~/customer/img/logo/logo.png" class="img-fluid" alt="logo">
                        </a>
                    </div>
                    <div class="image">
                        <a href="javascript:void(0)" class="about-image">
                            <img src="~/customer/img/coming-soon/coming-soon.jpg" class="img-fluid" alt="coming-soon">
                        </a>
                    </div>
                    <h2>Hello guys!</h2>
                    <h4 class="password-coming-title">We're Coming soon...</h4>
                </div>
                <div class="timer-section">
                    <ul class="clock" id="clock2">
                        <!-- deal day start -->
                        <li class="clock-li clock-day">
                            <div class="clock-wrap">
                                <span class="time days">826</span>
                                <div class="clock-text">Day</div>
                            </div>
                        </li>
                        <!-- deal day end -->
                        <!-- deal hours start -->
                        <li class="clock-li sclock-hours">
                            <div class="clock-wrap">
                                <span class="time hours">15</span>
                                <div class="clock-text">Hrs</div>
                            </div>
                        </li>
                        <!-- deal hours end -->
                        <!-- deal minute start -->
                        <li class="clock-li sclock-minutes">
                            <div class="clock-wrap">
                                <span class="time minutes">42</span>
                                <div class="clock-text">Min</div>
                            </div>
                        </li>
                        <!-- deal minute end -->
                        <!-- deal second start -->
                        <li class="clock-li sclock-seconds">
                            <div class="clock-wrap">
                                <span class="time seconds">22</span>
                                <div class="clock-text">Sec</div>
                            </div>
                        </li>
                        <!-- deal second end -->
                    </ul>
                </div>
                <div class="crap-search">
                    <form method="post" class="search-bar" role="search">
                        <div class="form-search">
                            <input name="q" placeholder="Enter your email" aria-label="Search our store" id="search" class="input-text" required="" autocomplete="off">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn-style2">subscribe</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>