    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-ul">
                            <li class="breadcrumb-li">
                                <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-li">
                                <span class="breadcrumb-text">Liên hệ với chúng tôi</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- get-info-area start -->
    <section class="get-info-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="about-content">
                        <!-- about title start -->
                        <div class="section-capture">
                            <div class="section-title">
                                <h2><span>Hãy Liên Hệ Với Chúng Tôi</span></h2>
                            </div>
                        </div>
                        <!-- about title end -->
                        <!-- contact-detail start -->
                        <div class="get-info contact-detail">
                            <ul class="get-info-ul">
                                <li class="get-info-li">
                                    <span class="get-icon"><i class="bi bi-geo"></i></span>
                                    <span class="get-add contact-block">
                                    <span>300, 6 Đường Hà Huy Tập, Tổ Dân Phố 8</span>
                                    <span>Buôn Ma Thuột, Đắk Lắk</span>
                                    </span>
                                </li>
                                <li class="get-info-li">
                                    <span class="get-icon"><i class="bi bi-telephone"></i></span>
                                    <div class="contact-block">
                                    <a href="tel:(024) 7300 1955" class="get-add">(024) 7300 1955</a>
                                    <a href="tel: 0963 400 865" class="get-add"> 0963 400 865</a>
                                    </div>
                                </li>
                                <li class="get-info-li">
                                    <span class="get-icon"><i class="bi bi-envelope"></i></span>
                                    <div class="contact-block">
                                    <a href="mailto:Caodang@fpt.edu.vn" class="get-add">Caodang@fpt.edu.vn</a>
                                    <a href="mailto:Phothongcaodang@fpt.edu.vn" class="get-add get-sup">Phothongcaodang@fpt.edu.vn</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- contact-detail end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- get-info-area end -->
    <!-- google-map  start -->
    <section class="google-map section-pb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="map-wrap">
                        <div class="map-wrapper">
                        <div class="map-info" id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12210.24681885916!2d108.075659!3d12.7105609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171f7b6e379b675%3A0x72662967145555c0!2zVHJ1b25nIENhb8OqIGRhw7MgcG9seXRlY2huaWM!5e0!3m2!1svi!2s!4v1698473155913!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="embed-responsive-item"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- google-map  end -->
    <!-- drop-detail  start -->
<!-- drop-detail start -->
<section class="drop-detail section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- contact us title start -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2><span>Gửi cho chúng tôi tin nhắn</span></h2>
                    </div>
                </div>
                <!-- contact us title end -->
                <!-- contact us form start -->
                <div class="form-warp contact-detail">
                    <div class="contact-form-list">
                        <form method="post">
                            <ul class="form-fill">
                                <li class="form-fill-li Name">
                                    <label>Tên</label>
                                    <input type="text" name="q" autocomplete="name" placeholder="Tên">
                                </li>
                                <li class="form-fill-li Email">
                                    <label>Địa chỉ email</label>
                                    <input type="email" name="q" autocomplete="email" placeholder="Địa chỉ email">
                                </li>
                                <li class="form-fill-li Phone number">
                                    <label>Số điện thoại</label>
                                    <input type="tel" name="q" placeholder="Số điện thoại">
                                </li>
                                <li class="form-fill-li Message">
                                    <label>Tin nhắn</label>
                                    <textarea rows="10" placeholder="Tin nhắn" class="custom-textarea"></textarea>
                                </li>
                            </ul>
                            <div class="contact-submit">
                                <button type="submit" class="btn btn-style2">
                                    <span>Gửi</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- contact us form end -->
            </div>
        </div>
    </div>
</section>
<!-- drop-detail  end  -->
