
<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">404</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<section class="page-not-found section-ptb bg-color">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="search-error-wrapper">
                    <h2>404</h2>
                    <p>Sorry but the page you are looking for does not exist, have been removed, name changed or is temporarity unavailable.</p>
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-style2">Go to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
