<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Faq's</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- other page start -->
<section class="faq-page section-ptb ">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- faq title start -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2><span>Những câu hỏi thường gặp  </span></h2>
                    </div>
                </div>
                <!-- faq title end -->
                <div class="content-qa-banner">
                    <div class="banner-image banner-hover">
                        <img src="~/customer/img/other-pages/faq.jpg" class="img-fluid" alt="faq">
                    </div>
                    <div class="que-ans">
                        <ul class="accordian-ul">
                            <li class="accordian-li">
                                <a href="#template-1" class="accordian" data-bs-toggle="collapse" aria-expanded="true">
                                    <h6 class="acco-text">What is lorem ipsum?</h6>
                                    <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <div class="ans-accordian collapse show" id="template-1" style="">
                                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p>Lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </li>
                            <li class="accordian-li">
                                <a href="#template-2" class="accordian" data-bs-toggle="collapse">
                                    <h6 class="acco-text">Tại Sao Chúng Ta Sử Dụng Nó</h6>
                                    <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <div class="ans-accordian collapse" id="template-2">
                                    <p>Một sự thật đã được chứng minh từ lâu là người đọc sẽ bị phân tâm bởi nội dung dễ đọc của một trang khi nhìn vào bố cục của nó.</p>
                                    <p>Mục đích của việc sử dụng lorem ipsum là nó có sự phân bổ các chữ cái ít nhiều theo chuẩn mực, trái ngược với việc sử dụng 'Nội dung ở đây, nội dung ở đây', khiến nó trông giống như tiếng Anh dễ đọc.</p>
                                </div>
                            </li>
                            <li class="accordian-li">
                                <a href="#template-3" class="accordian" data-bs-toggle="collapse">
                                    <h6 class="acco-text">Nó Đến Từ Đâu</h6>
                                    <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <div class="ans-accordian collapse" id="template-3">
                                    <p>Nó có nguồn gốc từ một tác phẩm văn học La-tinh cổ điển từ năm 45 trước Công nguyên, nghĩa là đã hơn 2000 năm tuổi.</p>
                                </div>
                            </li>
                            <li class="accordian-li">
                                <a href="#template-4" class="accordian" data-bs-toggle="collapse">
                                    <h6 class="acco-text">Tôi Có Thể Mua Ở Đâu</h6>
                                    <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <div class="ans-accordian collapse" id="template-4">
                                    <p>Có nhiều biến thể của đoạn văn lorem ipsum, nhưng phần lớn đã bị thay đổi ở một hình thức nào đó, bằng cách thêm yếu tố hài hước hoặc các từ ngữ ngẫu nhiên trông thậm chí không đáng tin chút nào.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- other page end -->
<!-- help-desk start -->
<section class=" help-desk section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="help-wrap">
                    <li class="desk-wrap">
                        <div class="help-desk-info">
                            <a href="javascript:void(0)"><i class="bi bi-telephone-inbound"></i></a>
                            <div class="help-desk-text">
                                <h6>Hỗ trợ bộ phận trợ giúp</h6>
                                <p>Lorem ipsum chỉ đơn giản là một đoạn văn bản giả của ngành công nghiệp sắp chữ đơn giản ipsum.</p>
                            </div>
                        </div>
                    </li>
                    <li class="desk-wrap">
                        <div class="help-desk-info">
                            <a href="javascript:void(0)"><i class="bi bi-people"></i></a>
                            <div class="help-desk-text">
                                <h6>Hỗ trợ trò chuyện trực tiếp</h6>
                                <p>Lorem ipsum chỉ đơn giản là một đoạn văn bản giả của ngành công nghiệp sắp chữ đơn giản ipsum.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- help-desk end -->
<!-- return policy start -->
<section class="ret-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-capture">
                    <!-- ret title start -->
                    <div class="section-title">
                        <h2><span>Chính sách đổi trả</span></h2>
                    </div>
                </div>
                <div class="que-ans">
                    <ul class="accordian-ul">
                        <li class="accordian-li">
                            <a href="#collapse-template-1" class="accordian" data-bs-toggle="collapse" aria-expanded="true">
                                <h6 class="acco-text">What is lorem ipsum?</h6>
                                <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                            </a>
                            <div class="ans-accordian show" id="collapse-template-1">
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>It was popularised in the 1960s with the release of letraset sheets containing lorem ipsum passages, and more recently with desktop publishing software like aldus pageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </li>
                        <li class="accordian-li">
                            <a href="#collapse-template-2" class="accordian" data-bs-toggle="collapse" aria-expanded="false">
                                <h6 class="acco-text">Tại Sao Ta Sử Dụng Nó?</h6>
                                <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                            </a>
                            <div class="ans-accordian collapse" id="collapse-template-2">
                                <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                <p>Many desktop publishing packages and web page editors now use lorem ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                            </div>
                        </li>
                        <li class="accordian-li">
                            <a href="#collapse-template-3" class="accordian" data-bs-toggle="collapse" aria-expanded="false">
                                <h6 class="acco-text">Tôi Có Thể Mua Ở Đâu?</h6>
                                <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                            </a>
                            <div class="ans-accordian collapse" id="collapse-template-3">
                                <p>It uses a dictionary of over 200 latin words, combined with a handful of model sentence structures, to generate lorem ipsum which looks reasonable.</p>
                                <p>The generated lorem ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                            </div>
                        </li>
                        <li class="accordian-li">
                            <a href="#collapse-template-4" class="accordian" data-bs-toggle="collapse" aria-expanded="false">
                                <h6 class="acco-text">Where does it come from?</h6>
                                <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                            </a>
                            <div class="ans-accordian collapse" id="collapse-template-4">
                                <p>Richard mcclintock, a latin professor at hampden-sydney college in virginia, looked up one of the more obscure latin words, consectetur, from a lorem ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                            </div>
                        </li>
                        <li class="accordian-li">
                            <a href="#collapse-template-5" class="accordian collapsed" data-bs-toggle="collapse" aria-expanded="false">
                                <h6 class="acco-text">What is lorem ipsum?</h6>
                                <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                            </a>
                            <div class="ans-accordian collapse" id="collapse-template-5" style="">
                                <p>Richard mcclintock, a latin professor at hampden-sydney college in virginia, looked up one of the more obscure latin words, consectetur, from a lorem ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                            </div>
                        </li>
                        <li class="accordian-li">
                            <a href="#collapse-template-6" class="accordian collapsed" data-bs-toggle="collapse" aria-expanded="false">
                                <h6 class="acco-text">Where does it come from?</h6>
                                <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                            </a>
                            <div class="ans-accordian collapse" id="collapse-template-6" style="">
                                <p>It has roots in a piece of classical latin literature from 45 BC, making it over 2000 years old.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- return policy end -->
