@{
    ViewData["Title"] = "Privacy Policy";
}



<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">return policy</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- return policy start -->
<section class="shipping-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- shipping title start -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2><span>Return policy</span></h2>
                    </div>
                </div>
                <!-- shipping title end -->
                <!-- shipping content start -->
                <div class="shipping">
                    <span>Q.1</span>
                    <h6 class="shipping-title">What is panno return policy?</h6>
                    <div class="shipping-content">
                        <p>Our 100% buyer protection program allows for easy returns only for products not as per description/photo on the website and products which you received in damaged/defective/broken condition.</p>
                        <p>All products must be returned in their original condition along with the bills and labels.</p>
                    </div>
                </div>
                <div class="shipping">
                    <span>Q.2</span>
                    <h6 class="shipping-title">How to raise dispute for an order?</h6>
                    <div class="shipping-content">
                        <p>You can raise a dispute within 7 days of delivery, in either of by sending an email to support@panno.com with images of broken/defective/damaged products within 7 days of delivery, please mention your order number in the email and sign into your panno account if you are a registered customer (Easy method).</p>
                        <p>Product after 7 days of delivery return can not accepted.</p>
                    </div>
                </div>
                <div class="shipping">
                    <span>Q.3</span>
                    <h6 class="shipping-title">When will i be refunded?</h6>
                    <div class="shipping-content">
                        <p>Reverse pickup orders we will initiate refund once the item is picked up by our courier partner.</p>
                        <p>Self ship orders We will refund when your item back from warehouse. The refund amount will be credited within 3 to 5 working days in your panno account.</p>
                    </div>
                </div>
                <!-- shipping content end -->
            </div>
        </div>
    </div>
</section>
<!--return policy end -->
