@{
    ViewData["Title"] = "Privacy Policy";
}



<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Chính sách đổi trả</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- return policy start -->
<section class="shipping-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- shipping title start -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2>
                            <span>
                                Chính sách hoàn trả
                            </span>
                        </h2>
                    </div>
                </div>
                <!-- shipping title end -->
                <!-- shipping content start -->
                <div class="shipping">
                    <span>Câu hỏi 1</span>
                    <h6 class="shipping-title">Chính sách hoàn trả của panno là gì?</h6>
                    <div class="shipping-content">
                        <p>Chương trình bảo vệ người mua 100% của chúng tôi chỉ cho phép trả lại dễ dàng đối với những sản phẩm không giống như mô tả/hình ảnh trên trang web và những sản phẩm bạn nhận được trong tình trạng bị hư hỏng/lỗi/hỏng.</p>
                        <p>Tất cả sản phẩm phải được trả lại theo tình trạng ban đầu cùng với hóa đơn và nhãn mác.</p>
                    </div>
                </div>
                <div class="shipping">
                    <span>Câu hỏi 2</span>
                    <h6 class="shipping-title">Làm thế nào để khiếu nại về đơn hàng?</h6>
                    <div class="shipping-content">
                        <p>Bạn có thể khiếu nại trong vòng 7 ngày kể từ ngày giao hàng bằng cách gửi email đến support@panno.com kèm theo hình ảnh sản phẩm bị hỏng/lỗi/hư hại trong vòng 7 ngày kể từ ngày giao hàng, vui lòng đề cập đến số đơn hàng của bạn trong email và đăng nhập vào tài khoản panno của bạn nếu bạn là khách hàng đã đăng ký (Phương pháp dễ dàng).</p>
                        <p>Sản phẩm sau 7 ngày giao hàng không được chấp nhận trả lại.</p>
                    </div>
                </div>
                <div class="shipping">
                    <span>Câu hỏi 3</span>
                    <h6 class="shipping-title">Khi nào tôi sẽ được hoàn tiền?</h6>
                    <div class="shipping-content">
                        <p>Đối với đơn hàng nhận ngược lại, chúng tôi sẽ tiến hành hoàn tiền sau khi đối tác chuyển phát của chúng tôi nhận được sản phẩm.</p>
                        <p>Đơn hàng tự giao Chúng tôi sẽ hoàn tiền khi hàng của bạn được trả về từ kho. Số tiền hoàn lại sẽ được ghi có trong tài khoản panno của bạn trong vòng 3 đến 5 ngày làm việc.</p>
                    </div>
                </div>
                <!-- shipping content end -->
            </div>
        </div>
    </div>
</section>
<!--return policy end -->
