@{
    ViewData["Title"] = "Privacy Policy";
}



<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Hợp đồng &amp; điều khoản</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- terms-rules start -->
<section class="terms-rules section-ptb ">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- section title start -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2><span>Điều khoản và điều kiện</span></h2>
                    </div>
                </div>
                <!-- section title end -->
                <!-- Terms-banner-rules start -->
                <div class="terms-banner-rules">
                    <div class="banner-wrap">
                        <div class="banner-bgimg" style="background-image: url('@Url.Content("~/customer/img/team/terms.jpg")');"></div>
                        <div class="banner-img">
                            <img src="~/customer/img/team/terms.jpg" class="img-fluid" alt="Terms-&amp;-conditions">
                        </div>
                    </div>
                    <div class="rules-wrap">
                        <h6>Sự hạn chế</h6>
                        <ul class="terms-ul">
                            <li class="terms-li">
                                <p>Có nhiều phiên bản khác nhau của Lorem Ipsum, nhưng phần lớn đã bị thay đổi ở một hình thức nào đó, bằng cách thêm yếu tố hài hước hoặc các từ ngẫu nhiên trông thậm chí không có vẻ đáng tin chút nào.</p>
                            </li>
                            <li class="terms-li">
                                <p>Nhưng tôi phải giải thích cho bạn biết ý tưởng sai lầm này về việc lên án khoái lạc và ca ngợi nỗi đau đã ra đời như thế nào và tôi sẽ cung cấp cho bạn một bản tường trình đầy đủ về hệ thống này, và trình bày những lời dạy thực sự của nhà thám hiểm vĩ đại của chân lý, người xây dựng nên hạnh phúc của con người.</p>
                            </li>
                            <li class="terms-li">
                                <p>Và cũng không có ai yêu thích, theo đuổi hay mong muốn đạt được nỗi đau vì chính nó là nỗi đau, mà vì thỉnh thoảng có những hoàn cảnh mà sự lao động và nỗi đau có thể mang lại cho họ một niềm vui lớn lao.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Terms-banner-rules end -->
            </div>
        </div>
    </div>
</section>
<!-- terms-rules end -->
<!-- temrs-condition start -->
<section class="temrs-condition section-ptb bg-color">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="t-condition-block">
                    <ul class="condition-ul">
                        <li>
                            <h6>Từ giới thiệu</h6>
                            <p>Có rất nhiều biến thể của đoạn văn Lorem Ipsum, được chèn vào hoặc bằng những từ ngữ trông thậm chí không đáng tin chút nào.</p>
                        </li>
                        <li>
                            <h6>Sở hữu trí tuệ</h6>
                            <p>Nếu bạn định sử dụng một đoạn Lorem Ipsum, bạn cần phải chắc chắn rằng không có gì ẩn ở giữa văn bản.</p>
                        </li>
                        <li>
                            <h6>Nội dung của bạn</h6>
                            <p>Tất cả các công cụ tạo Lorem Ipsum trên Internet đều có xu hướng lặp lại khi cần thiết, khiến đây trở thành công cụ tạo Lorem Ipsum thực sự đầu tiên trên Internet.</p>
                        </li>
                        <li>
                            <h6>Khả năng nghiêm trọng</h6>
                            <p>Nó sử dụng một từ điển gồm hơn 200 từ tiếng Latin, kết hợp với một số câu mẫu để có vẻ hợp lý.</p>
                        </li>
                        <li>
                            <h6>Không có đa số</h6>
                            <p>Nó trở nên phổ biến vào những năm 1960 với việc phát hành các tờ giấy có chứa đoạn văn và gần đây hơn là các phiên bản Lorem Ipsum.</p>
                        </li>
                        <li>
                            <h6>Các thuật ngữ biến thể</h6>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, beatae vitae dicta sunt explicabo.</p>
                        </li>
                        <li>
                            <h6>Phát hành tờ giấy</h6>
                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe sint et molestiae non recusandae.</p>
                        </li>
                        <li>
                            <h6>Maxim xoa dịu</h6>
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil maxime placeat facere possimus, omnis dolor repellendus.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- temrs-condition end -->
<!-- need-help start -->
<section class="need-help section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- section title start -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2><span>Cần giúp đỡ</span></h2>
                    </div>
                </div>
                <!-- section title end -->
                <!-- need-help grid start -->
                <div class="need-wrap">
                    <ul class="need-ul">
                        <li class="need-li">
                            <div class="need-img">
                                <img src="~/customer/img/team/mail.jpg" class="img-fluid" alt="mail">
                            </div>
                            <div class="need-block">
                                <span class="need-help-icon"><i class="bi bi-envelope"></i></span>
                                <div class="need-help-text">
                                    <h6>Trò chuyện với chúng tôi</h6>
                                    <p class="title">Gửi email cho chúng tôi</p>
                                </div>
                            </div>
                        </li>
                        <li class="need-li">
                            <div class="need-img">
                                <img src="~/customer/img/team/call.jpg" class="img-fluid" alt="call">
                            </div>
                            <div class="need-block">
                                <span class="need-help-icon"><i class="bi bi-telephone"></i></span>
                                <div class="need-help-text">
                                    <h6>Nói chuyện với chúng tôi</h6>
                                    <p class="title">Hãy gọi cho chúng tôi ngay nhé</p>
                                </div>
                            </div>
                        </li>
                        <li class="need-li">
                            <div class="need-img">
                                <img src="~/customer/img/team/location.jpg" class="img-fluid" alt="location">
                            </div>
                            <div class="need-block">
                                <span class="need-help-icon"><i class="bi bi-geo"></i></span>
                                <div class="need-help-text">
                                    <h6>Tìm một cửa hàng</h6>
                                    <p class="title">Mô tả dự án của bạn</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- need-help grid end -->
            </div>
        </div>
    </div>
</section>
<!-- need-help end -->
