@page
@model RegisterModel // Dùng model cho trang đăng ký

@{
    ViewData["Title"] = "Đăng ký tài khoản";
}

<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Tài khoản</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- customer-page start -->
<section class="customer-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- account register title start -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2><span>Đăng ký tài khoản</span></h2>
                    </div>
                </div>
                <!-- account register title end -->
                <!-- account register start -->
                <div class="log-acc-page">
                    <div class="contact-form-list">
                        <form method="post">
                            @{    var hasErrors = ViewData.ModelState.Any(x => x.Value.Errors.Any());}@if (hasErrors){    <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>}
                            <ul class="form-fill">
                                <li class="form-fill-li Email">
                                    <label>Địa chỉ email</label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Địa chỉ email">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </li>
                                <li class="form-fill-li ">
                                    <label>Họ tên</label>
                                    <input asp-for="Input.HoTen" class="form-control" autocomplete="on" placeholder="Họ tên">
                                    <span asp-validation-for="Input.HoTen" class="text-danger"></span>
                                </li>
                                <li class="form-fill-li ">
                                    <label>Giới tính</label>
                                    <select asp-for="Input.GioiTinh" class="form-control" autocomplete="on" placeholder="Giới tính">
                                        <option disabled selected>-Chọn giới tính-</option>
                                        <option value="true">Nam</option>
                                        <option value="false">Nữ</option>
                                        <option value="">Khác</option>
                                    </select>
                                    <span asp-validation-for="Input.GioiTinh" class="text-danger"></span>
                                </li>
                                <li class="form-fill-li ">
                                    <label>Số điện thoại</label>
                                    <input asp-for="Input.SoDienThoai" class="form-control" autocomplete="on" placeholder="Số điện thoại">
                                    <span asp-validation-for="Input.SoDienThoai" class="text-danger"></span>
                                </li>
                                <li class="form-fill-li ">
                                    <label>Ngày sinh</label>
                                    <input asp-for="Input.NgaySinh" class="form-control" autocomplete="on" placeholder="Ngày sinh">
                                    <span asp-validation-for="Input.NgaySinh" class="text-danger"></span>
                                </li>
                                <li class="form-fill-li Password">
                                    <label>Mật khẩu</label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="Mật khẩu">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </li>
                                <li class="form-fill-li ConfirmPassword">
                                    <label>Xác nhận mật khẩu</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Xác nhận mật khẩu">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </li>
                                <li class="form-fill-li Role">
                                    <label>Chọn vai trò</label>
                                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                        <option disabled selected>-Chọn vai trò-</option>
                                    </select>
                                </li>
                            </ul>
                            <div class="form-action-button">
                                <div class="button-forget">
                                    <button type="submit" class="btn btn-style2">Đăng ký</button>
                                    <a asp-page="./Login" asp-route-typeUser="user">Đã có tài khoản? Đăng nhập</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="acc-wrapper">
                        <h6>Bạn là nhân viên?</h6>
                        <div class="account-optional">
                            <a asp-page="./Login" asp-route-typeUser="employee">Đăng nhập ở đây</a>
                        </div>
                    </div>
                </div>
                <!-- account register end -->
            </div>
        </div>
    </div>
</section>
<!-- customer-page end -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
