
<li class="side-wrap user-wrap">
    <div class="user-wrapper">
        <a href="/Customer/Account/Login?typeUser=user">
            <span class="user-icon"><i class="feather-user"></i></span>
        </a>
    </div>
</li>