
<li class="side-wrap user-wrap">
    <div class="user-wrapper">
        <a href="/Employee/EmployeeProfile/Index">
            <span class="user-icon"><i class="feather-user"></i></span>
        </a>
    </div>
</li>