<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Lịch sử đơn hàng</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- order history start -->
<section class="order-histry-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="password-block">
                    <!-- order profile start -->
                    <div class="profile-info">
                        <div class="account-profile">
                            <div class="pro-img">
                                <a href="javascript:void(0)">
                                    <img src="~/customer/img/testi/test-1.jpg" class="img-fluid" alt="testi-1">
                                </a>
                            </div>
                            <div class="profile-text">
                                <h6>Miranda Joy</h6>
                                <span>Tham gia ngày 06 tháng 4, 2024</span>
                            </div>
                        </div>
                        <div class="account-detail">
                            <ul class="profile-ul">
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/Index" class="active">
                                        <span>Đơn hàng</span>
                                        <span class="pro-count">5</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/Profile">Hồ sơ</a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ProAddress">Địa chỉ</a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ProWishlist">
                                        <span>Yêu thích</span>
                                        <span class="pro-count">3</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ChangePassword">
                                        <span>Đổi mật khẩu</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ProTickets">
                                        <span>Vé của tôi</span>
                                        <span class="pro-count">4</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/">
                                        <span>Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- order profile end -->
                    <!-- order info start -->
                    <div class="profile-form order-info">
                        <div class="pro-add-title">
                            <h6>Đơn hàng</h6>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Ngày mua</th>
                                    <th>Trạng thái</th>
                                    <th>Tổng cộng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>78A643CD409</td>
                                    <td>08 tháng 4, 2024</td>
                                    <td class="canceled">Đã hủy</td>
                                    <td>Rs. 760.50</td>
                                </tr>
                                <tr>
                                    <td>34VB5540K83</td>
                                    <td>11 tháng 4, 2024</td>
                                    <td class="process">Đang xử lý</td>
                                    <td>Rs. 540.30</td>
                                </tr>
                                <tr>
                                    <td>78A643CD409</td>
                                    <td>15 tháng 4, 2024</td>
                                    <td class="delayed">Bị trì hoãn</td>
                                    <td>Rs. 142.00</td>
                                </tr>
                                <tr>
                                    <td>78A643CD409</td>
                                    <td>18 tháng 4, 2024</td>
                                    <td class="delivered">Đã giao</td>
                                    <td>Rs. 805.00</td>
                                </tr>
                                <tr class="no-bottom-border">
                                    <td>78A643CD409</td>
                                    <td>21 tháng 4, 2024</td>
                                    <td class="delivered">Đã giao</td>
                                    <td>Rs. 270.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- order info end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- order history end -->
