<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">địa chỉ chuyên nghiệp</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- order history start -->
<section class="pro-address-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="password-block">
                    <!-- order profile start -->
                    <div class="profile-info">
                        <div class="account-profile">
                            <div class="pro-img">
                                <a href="javascript:void(0)">
                                    <img src="~/customer/img/testi/test-1.jpg" class="img-fluid" alt="testi-1">
                                </a>
                            </div>
                            <div class="profile-text">
                                <h6>Miranda Joy</h6>
                                <span>Tham gia ngày 06 tháng 4, 2024</span>
                            </div>
                        </div>
                        <div class="account-detail">
                            <ul class="profile-ul">
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/Index">
                                        <span>Đơn hàng</span>
                                        <span class="pro-count">5</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/Profile">Hồ sơ</a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ProAddress" class="active">Địa chỉ</a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ProWishlist">
                                        <span>Danh sách yêu thích</span>
                                        <span class="pro-count">3</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ChangePassword">
                                        <span>Đổi mật khẩu</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ProTickets">
                                        <span>Vé của tôi</span>
                                        <span class="pro-count">4</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/">
                                        <span>Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- order profile end -->
                    <!-- order info start -->
                    <div class="profile-form profile-address">
                        <div class="billing-area">
                            <form>
                                <div class="pro-add-title">
                                    <h6>Địa chỉ liên hệ</h6>
                                </div>
                                <div class="billing-form">
                                    <ul class="input-2">
                                        <li class="billing-li">
                                            <label>Công ty</label>
                                            <input type="text" name="f-name" placeholder="Công ty">
                                        </li>
                                        <li class="billing-li">
                                            <label>Quốc gia</label>
                                            <select>
                                                <option>Hoa Kỳ</option>
                                                <option>Ấn Độ</option>
                                                <option>Canada</option>
                                                <option>Pháp</option>
                                                <option>Đức</option>
                                            </select>
                                        </li>
                                        <li class="billing-li">
                                            <label>Thành phố</label>
                                            <select>
                                                <option>Chọn thành phố</option>
                                                <option>New York</option>
                                                <option>Berlin</option>
                                                <option>Geneve</option>
                                            </select>
                                        </li>
                                        <li class="billing-li">
                                            <label>Mã bưu điện</label>
                                            <input type="text" name="name" placeholder="Mã bưu điện">
                                        </li>
                                        <li class="billing-li">
                                            <label>Địa chỉ 1</label>
                                            <input type="text" name="name" placeholder="Địa chỉ 1">
                                        </li>
                                        <li class="billing-li">
                                            <label>Địa chỉ 2</label>
                                            <input type="text" name="name" placeholder="Địa chỉ 2">
                                        </li>
                                    </ul>
                                    <ul class="pro-submit">
                                        <li class="label-info">
                                            <label class="box-area">
                                                <span class="text">Giống địa chỉ liên hệ</span>
                                                <input type="checkbox" class="cust-checkbox">
                                                <span class="cust-check"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <a href="/Customer/ClientProfile/ProWishlist" class="btn btn-style2 checkout disabled">Cập nhật địa chỉ</a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- order info end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- order history end -->
