<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">hồ sơ</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!--profile start -->
<section class="pro-address-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="password-block">
                    <!-- order profile start -->
                    <div class="profile-info">
                        <div class="account-profile">
                            <div class="pro-img">
                                <a href="javascript:void(0)">
                                    <img src="~/customer/img/testi/test-1.jpg" class="img-fluid" alt="testi-1">
                                </a>
                            </div>
                            <div class="profile-text">
                                <h6>Miranda joy</h6>
                                <span>Tham gia ngày 06 tháng 4, 2024</span>
                            </div>
                        </div>
                        <div class="account-detail">
                            <ul class="profile-ul">
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/Index">
                                        <span>Đơn hàng</span>
                                        <span class="pro-count">5</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/Profile" class="active">Hồ sơ</a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ProAddress">Địa chỉ</a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ProWishlist">
                                        <span>Danh sách yêu thích</span>
                                        <span class="pro-count">3</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ChangePassword">
                                        <span>Đổi mật khẩu</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/Customer/ClientProfile/ProTickets">
                                        <span>Vé của tôi</span>
                                        <span class="pro-count">4</span>
                                    </a>
                                </li>
                                <li class="profile-li">
                                    <a href="/">
                                        <span>Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- order profile end -->
                    <!-- order info start -->
                    <div class="profile-form profile-address">
                        <div class="billing-area">
                            <form>
                                <div class="pro-add-title">
                                    <h6>Hồ sơ</h6>
                                </div>
                                <div class="billing-form">
                                    <ul class="input-2">
                                        <li class="billing-li">
                                            <label>Họ</label>
                                            <input type="text" name="name" placeholder="Họ">
                                        </li>
                                        <li class="billing-li">
                                            <label>Tên</label>
                                            <input type="text" name="name" placeholder="Tên">
                                        </li>
                                        <li class="billing-li">
                                            <label>Địa chỉ email</label>
                                            <input type="text" name="name" placeholder="Địa chỉ email" required="">
                                        </li>
                                        <li class="billing-li">
                                            <label>Số điện thoại</label>
                                            <input type="text" name="name" placeholder="Số điện thoại">
                                        </li>
                                        <li class="billing-li">
                                            <label>Mật khẩu mới</label>
                                            <input type="text" name="name" placeholder="Mật khẩu mới">
                                        </li>
                                        <li class="billing-li">
                                            <label>Xác nhận mật khẩu</label>
                                            <input type="text" name="name" placeholder="Xác nhận mật khẩu">
                                        </li>
                                    </ul>
                                    <ul class="pro-submit">
                                        <li class="label-info">
                                            <label class="box-area">
                                                <span class="text">Đăng ký nhận bản tin</span>
                                                <input type="checkbox" class="cust-checkbox">
                                                <span class="cust-check"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <a href="/Customer/ClientProfile/ProWishlist" class="btn btn-style2 checkout disabled">Cập nhật hồ sơ</a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- order info end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- profile end -->
