@model IEnumerable<Object>
@if (Model != null)
{
    <!-- trending-product start -->
<section class="product-tab section-ptb">
    <div class="collection-category">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="section-capture tab">
                        <div class="section-title">
                            <h2><span>Sản phẩm thịnh hành</span></h2>
                        </div>
                    </div>
                    <div class="collection-wrap">
                        <div class="collection-slider swiper" id="trending-product">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="single-product-wrap">
                                        <div class="product-image banner-hover">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" class="pro-img">
                                                <img src="~/customer/img/product/home1-pro-1.jpg" class="img-fluid img1 mobile-img1" alt="p1">
                                                <img src="~/customer/img/product/home1-pro-2.jpg" class="img-fluid img2 mobile-img2" alt="p2">
                                            </a>
                                            <div class="product-action product-cart-btn">
                                                <a href="#add-to-cart" class="add-to-cart">
                                                    <span class="cart-title">
                                                        <span class="add-c-title">
                                                            <span class="tooltip-text">Add to cart</span>
                                                            <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                            <span class="add-title">Add to cart</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="product-action">
                                                <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                    <span class="tooltip-text">Wishlist</span>
                                                    <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                </a>
                                                <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                    <span class="tooltip-text">Quickview</span>
                                                    <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <div class="pro-title-price">
                                                        <h6><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Strelitzia nicolai</a></h6>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                <span class="new-price">Rs. 44.00</span>
                                                                <span class="old-price">Rs. 49.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-name">
                                                        <a class="product-type" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Strelitzia</a>
                                                        <a class="product-vendor" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Panno</a>
                                                    </div>
                                                </div>
                                                <div class="product-ratting">
                                                    <span class="pro-ratting">
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="product-description">
                                                    <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler...</p>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                        <span class="tooltip-text">Quickview</span>
                                                        <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                    </a>
                                                    <a href="#add-to-cart" class="add-to-cart" data-bs-toggle="modal" data-bs-target="#add-to-cart">
                                                        <span class="tooltip-text">Add to cart</span>
                                                        <span class="pro-action-icon"><i class="feather-shopping-bag"></i></span>
                                                    </a>
                                                    <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                        <span class="tooltip-text">Wishlist</span>
                                                        <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-product-wrap">
                                        <div class="product-image banner-hover">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" class="pro-img">
                                                <img src="~/customer/img/product/home1-pro-3.jpg" class="img-fluid img1 mobile-img1" alt="p1">
                                                <img src="~/customer/img/product/home1-pro-4.jpg" class="img-fluid img2 mobile-img2" alt="p2">
                                            </a>
                                            <div class="product-action product-cart-btn">
                                                <a href="#add-to-cart" class="add-to-cart">
                                                    <span class="cart-title">
                                                        <span class="add-c-title">
                                                            <span class="tooltip-text">Add to cart</span>
                                                            <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                            <span class="add-title">Add to cart</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="product-action">
                                                <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                    <span class="tooltip-text">Wishlist</span>
                                                    <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                </a>
                                                <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                    <span class="tooltip-text">Quickview</span>
                                                    <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <div class="pro-title-price">
                                                        <h6><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Aloe vera plant</a></h6>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                <span class="new-price">Rs. 61.00</span>
                                                                <span class="old-price">Rs. 69.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-name">
                                                        <a class="product-type" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Aloe vera</a>
                                                        <a class="product-vendor" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Panno</a>
                                                    </div>
                                                </div>
                                                <div class="product-ratting">
                                                    <span class="pro-ratting">
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="product-description">
                                                    <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler...</p>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                        <span class="tooltip-text">Quickview</span>
                                                        <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                    </a>
                                                    <a href="#add-to-cart" class="add-to-cart" data-bs-toggle="modal" data-bs-target="#add-to-cart">
                                                        <span class="tooltip-text">Add to cart</span>
                                                        <span class="pro-action-icon"><i class="feather-shopping-bag"></i></span>
                                                    </a>
                                                    <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                        <span class="tooltip-text">Wishlist</span>
                                                        <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-product-wrap">
                                        <div class="product-image banner-hover">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" class="pro-img">
                                                <img src="~/customer/img/product/home1-pro-5.jpg" class="img-fluid img1 mobile-img1" alt="p1">
                                                <img src="~/customer/img/product/home1-pro-6.jpg" class="img-fluid img2 mobile-img2" alt="p2">
                                            </a>
                                            <div class="product-action product-cart-btn">
                                                <a href="#add-to-cart" class="add-to-cart">
                                                    <span class="cart-title">
                                                        <span class="add-c-title">
                                                            <span class="tooltip-text">Add to cart</span>
                                                            <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                            <span class="add-title">Add to cart</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="product-action">
                                                <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                    <span class="tooltip-text">Wishlist</span>
                                                    <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                </a>
                                                <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                    <span class="tooltip-text">Quickview</span>
                                                    <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <div class="pro-title-price">
                                                        <h6><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Chinese evergreen</a></h6>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                <span class="new-price">Rs. 24.00</span>
                                                                <span class="old-price">Rs. 29.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-name">
                                                        <a class="product-type" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Evergreen</a>
                                                        <a class="product-vendor" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Panno</a>
                                                    </div>
                                                </div>
                                                <div class="product-ratting">
                                                    <span class="pro-ratting">
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="product-description">
                                                    <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler...</p>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                        <span class="tooltip-text">Quickview</span>
                                                        <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                    </a>
                                                    <a href="#add-to-cart" class="add-to-cart" data-bs-toggle="modal" data-bs-target="#add-to-cart">
                                                        <span class="tooltip-text">Add to cart</span>
                                                        <span class="pro-action-icon"><i class="feather-shopping-bag"></i></span>
                                                    </a>
                                                    <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                        <span class="tooltip-text">Wishlist</span>
                                                        <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-product-wrap">
                                        <div class="product-image banner-hover">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" class="pro-img">
                                                <img src="~/customer/img/product/home1-pro-7.jpg" class="img-fluid img1 mobile-img1" alt="p1">
                                                <img src="~/customer/img/product/home1-pro-8.jpg" class="img-fluid img2 mobile-img2" alt="p2">
                                            </a>
                                            <div class="product-action product-cart-btn">
                                                <a href="#add-to-cart" class="add-to-cart">
                                                    <span class="cart-title">
                                                        <span class="add-c-title">
                                                            <span class="tooltip-text">Add to cart</span>
                                                            <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                            <span class="add-title">Add to cart</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="product-action">
                                                <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                    <span class="tooltip-text">Wishlist</span>
                                                    <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                </a>
                                                <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                    <span class="tooltip-text">Quickview</span>
                                                    <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <div class="pro-title-price">
                                                        <h6><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Wheat grass</a></h6>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                <span class="new-price">Rs. 21.00</span>
                                                                <span class="old-price">Rs. 25.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-name">
                                                        <a class="product-type" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Grass</a>
                                                        <a class="product-vendor" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Panno</a>
                                                    </div>
                                                </div>
                                                <div class="product-ratting">
                                                    <span class="pro-ratting">
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="product-description">
                                                    <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler...</p>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                        <span class="tooltip-text">Quickview</span>
                                                        <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                    </a>
                                                    <a href="#add-to-cart" class="add-to-cart" data-bs-toggle="modal" data-bs-target="#add-to-cart">
                                                        <span class="tooltip-text">Add to cart</span>
                                                        <span class="pro-action-icon"><i class="feather-shopping-bag"></i></span>
                                                    </a>
                                                    <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                        <span class="tooltip-text">Wishlist</span>
                                                        <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-product-wrap">
                                        <div class="product-image banner-hover">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" class="pro-img">
                                                <img src="~/customer/img/product/home1-pro-9.jpg" class="img-fluid img1 mobile-img1" alt="p1">
                                                <img src="~/customer/img/product/home1-pro-10.jpg" class="img-fluid img2 mobile-img2" alt="p2">
                                            </a>
                                            <div class="product-action product-cart-btn">
                                                <a href="#add-to-cart" class="add-to-cart">
                                                    <span class="cart-title">
                                                        <span class="add-c-title">
                                                            <span class="tooltip-text">Add to cart</span>
                                                            <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                            <span class="add-title">Add to cart</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="product-action">
                                                <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                    <span class="tooltip-text">Wishlist</span>
                                                    <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                </a>
                                                <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                    <span class="tooltip-text">Quickview</span>
                                                    <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <div class="pro-title-price">
                                                        <h6><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Castle cactus</a></h6>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                <span class="new-price">Rs. 25.00</span>
                                                                <span class="old-price">Rs. 35.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-name">
                                                        <a class="product-type" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Castle</a>
                                                        <a class="product-vendor" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Panno</a>
                                                    </div>
                                                </div>
                                                <div class="product-ratting">
                                                    <span class="pro-ratting">
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="product-description">
                                                    <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler...</p>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                        <span class="tooltip-text">Quickview</span>
                                                        <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                    </a>
                                                    <a href="#add-to-cart" class="add-to-cart" data-bs-toggle="modal" data-bs-target="#add-to-cart">
                                                        <span class="tooltip-text">Add to cart</span>
                                                        <span class="pro-action-icon"><i class="feather-shopping-bag"></i></span>
                                                    </a>
                                                    <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                        <span class="tooltip-text">Wishlist</span>
                                                        <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-product-wrap">
                                        <div class="product-image banner-hover">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" class="pro-img">
                                                <img src="~/customer/img/product/home1-pro-11.jpg" class="img-fluid img1 mobile-img1" alt="p1">
                                                <img src="~/customer/img/product/home1-pro-12.jpg" class="img-fluid img2 mobile-img2" alt="p2">
                                            </a>
                                            <div class="product-action product-cart-btn">
                                                <a href="#add-to-cart" class="add-to-cart">
                                                    <span class="cart-title">
                                                        <span class="add-c-title">
                                                            <span class="tooltip-text">Add to cart</span>
                                                            <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                            <span class="add-title">Add to cart</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="product-action">
                                                <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                    <span class="tooltip-text">Wishlist</span>
                                                    <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                </a>
                                                <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                    <span class="tooltip-text">Quickview</span>
                                                    <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <div class="pro-title-price">
                                                        <h6><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Bird of paradise</a></h6>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                <span class="new-price">Rs. 21.00</span>
                                                                <span class="old-price">Rs. 25.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-name">
                                                        <a class="product-type" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Paradise</a>
                                                        <a class="product-vendor" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Panno</a>
                                                    </div>
                                                </div>
                                                <div class="product-ratting">
                                                    <span class="pro-ratting">
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="product-description">
                                                    <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler...</p>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                        <span class="tooltip-text">Quickview</span>
                                                        <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                    </a>
                                                    <a href="#add-to-cart" class="add-to-cart" data-bs-toggle="modal" data-bs-target="#add-to-cart">
                                                        <span class="tooltip-text">Add to cart</span>
                                                        <span class="pro-action-icon"><i class="feather-shopping-bag"></i></span>
                                                    </a>
                                                    <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                        <span class="tooltip-text">Wishlist</span>
                                                        <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-product-wrap">
                                        <div class="product-image banner-hover">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" class="pro-img">
                                                <img src="~/customer/img/product/home1-pro-13.jpg" class="img-fluid img1 mobile-img1" alt="p1">
                                                <img src="~/customer/img/product/home1-pro-14.jpg" class="img-fluid img2 mobile-img2" alt="p2">
                                            </a>
                                            <div class="product-action product-cart-btn">
                                                <a href="#add-to-cart" class="add-to-cart">
                                                    <span class="cart-title">
                                                        <span class="add-c-title">
                                                            <span class="tooltip-text">Add to cart</span>
                                                            <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                            <span class="add-title">Add to cart</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="product-action">
                                                <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                    <span class="tooltip-text">Wishlist</span>
                                                    <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                </a>
                                                <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                    <span class="tooltip-text">Quickview</span>
                                                    <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <div class="pro-title-price">
                                                        <h6><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Snake plant</a></h6>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                <span class="new-price">Rs. 54.00</span>
                                                                <span class="old-price">Rs. 65.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-name">
                                                        <a class="product-type" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Snake</a>
                                                        <a class="product-vendor" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Panno</a>
                                                    </div>
                                                </div>
                                                <div class="product-ratting">
                                                    <span class="pro-ratting">
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="product-description">
                                                    <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler...</p>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                        <span class="tooltip-text">Quickview</span>
                                                        <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                    </a>
                                                    <a href="#add-to-cart" class="add-to-cart" data-bs-toggle="modal" data-bs-target="#add-to-cart">
                                                        <span class="tooltip-text">Add to cart</span>
                                                        <span class="pro-action-icon"><i class="feather-shopping-bag"></i></span>
                                                    </a>
                                                    <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                        <span class="tooltip-text">Wishlist</span>
                                                        <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-product-wrap">
                                        <div class="product-image banner-hover">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" class="pro-img">
                                                <img src="~/customer/img/product/home1-pro-15.jpg" class="img-fluid img1 mobile-img1" alt="p1">
                                                <img src="~/customer/img/product/home1-pro-16.jpg" class="img-fluid img2 mobile-img2" alt="p2">
                                            </a>
                                            <div class="product-action product-cart-btn">
                                                <a href="#add-to-cart" class="add-to-cart">
                                                    <span class="cart-title">
                                                        <span class="add-c-title">
                                                            <span class="tooltip-text">Add to cart</span>
                                                            <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                            <span class="add-title">Add to cart</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="product-action">
                                                <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                    <span class="tooltip-text">Wishlist</span>
                                                    <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                </a>
                                                <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                    <span class="tooltip-text">Quickview</span>
                                                    <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <div class="pro-title-price">
                                                        <h6><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Areca palm</a></h6>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                <span class="new-price">Rs. 61.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-name">
                                                        <a class="product-type" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Palm</a>
                                                        <a class="product-vendor" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Panno</a>
                                                    </div>
                                                </div>
                                                <div class="product-ratting">
                                                    <span class="pro-ratting">
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="product-description">
                                                    <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler...</p>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                        <span class="tooltip-text">Quickview</span>
                                                        <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                    </a>
                                                    <a href="#add-to-cart" class="add-to-cart" data-bs-toggle="modal" data-bs-target="#add-to-cart">
                                                        <span class="tooltip-text">Add to cart</span>
                                                        <span class="pro-action-icon"><i class="feather-shopping-bag"></i></span>
                                                    </a>
                                                    <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                        <span class="tooltip-text">Wishlist</span>
                                                        <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-product-wrap">
                                        <div class="product-image banner-hover">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" class="pro-img">
                                                <img src="~/customer/img/product/home1-pro-17.jpg" class="img-fluid img1 mobile-img1" alt="p1">
                                                <img src="~/customer/img/product/home1-pro-18.jpg" class="img-fluid img2 mobile-img2" alt="p2">
                                            </a>
                                            <div class="product-action product-cart-btn">
                                                <a href="#add-to-cart" class="add-to-cart">
                                                    <span class="cart-title">
                                                        <span class="add-c-title">
                                                            <span class="tooltip-text">Add to cart</span>
                                                            <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                            <span class="add-title">Add to cart</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="product-action">
                                                <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                    <span class="tooltip-text">Wishlist</span>
                                                    <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                </a>
                                                <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                    <span class="tooltip-text">Quickview</span>
                                                    <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <div class="pro-title-price">
                                                        <h6><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Howea forsteriana</a></h6>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                <span class="new-price">Rs. 22.00</span>
                                                                <span class="old-price">Rs. 45.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-name">
                                                        <a class="product-type" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Howea</a>
                                                        <a class="product-vendor" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Panno</a>
                                                    </div>
                                                </div>
                                                <div class="product-ratting">
                                                    <span class="pro-ratting">
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="product-description">
                                                    <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler...</p>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                        <span class="tooltip-text">Quickview</span>
                                                        <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                    </a>
                                                    <a href="#add-to-cart" class="add-to-cart" data-bs-toggle="modal" data-bs-target="#add-to-cart">
                                                        <span class="tooltip-text">Add to cart</span>
                                                        <span class="pro-action-icon"><i class="feather-shopping-bag"></i></span>
                                                    </a>
                                                    <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index" class="wishlist">
                                                        <span class="tooltip-text">Wishlist</span>
                                                        <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collection-button">
                                <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Index" class="btn btn-style">View product</a>
                            </div>
                        </div>
                        <div class="swiper-buttons">
                            <div class="swiper-buttons-wrap">
                                <button class="swiper-prev swiper-prev-new"><span><svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="15 18 9 12 15 6"></polyline></svg></span></button>
                                <button class="swiper-next swiper-next-new"><span><svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="9 18 15 12 9 6"></polyline></svg></span></button>
                            </div>
                        </div>
                        <div class="swiper-dots">
                            <div class="swiper-pagination swiper-pagination-new"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- trending-product end -->
}