@{
    ViewData["Title"] = "Trang Chủ";
}

<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Thanh Toán 1</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- checkout-area start -->
<section class="section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="checkout-area">
                    <div class="billing-area">
                        <form>
                            <h2>Chi tiết thanh toán</h2>
                            <div class="billing-form">
                                <ul class="input-2">
                                    <li class="billing-li">
                                        <label>Tên</label>
                                        <input type="text" name="f-name" placeholder="Tên">
                                    </li>
                                    <li class="billing-li">
                                        <label>Họ</label>
                                        <input type="text" name="l-name" placeholder="Họ">
                                    </li>
                                </ul>
                                <ul class="billing-ul">
                                    <li class="billing-li">
                                        <label>Tên công ty (Không bắt buộc)</label>
                                        <input type="text" name="company details" placeholder="Tên công ty">
                                    </li>
                                    <li class="billing-li">
                                        <label>Quốc gia</label>
                                        <select>
                                            <option>Chọn quốc gia</option>
                                            <option>United country</option>
                                            <option>Russia</option>
                                            <option>Italy</option>
                                            <option>France</option>
                                            <option>Ukraine</option>
                                            <option>Germany</option>
                                            <option>India</option>
                                            <option>Australia</option>
                                            <option>Canada</option>
                                        </select>
                                    </li>
                                    <li class="billing-li">
                                        <label>Địa chỉ đường phố</label>
                                        <input type="text" name="address" placeholder="Địa chỉ đường phố">
                                    </li>
                                    <li class="billing-li">
                                        <label>Căn hộ, phòng, đơn vị v.v. (Không bắt buộc)</label>
                                        <input type="text" name="--">
                                    </li>
                                    <li class="billing-li">
                                        <label>Thị trấn / Thành phố</label>
                                        <input type="text" name="city">
                                    </li>
                                    <li class="billing-li">
                                        <label>Bang / Quốc gia</label>
                                        <input type="text" name="--">
                                    </li>
                                    <li class="billing-li">
                                        <label>Mã bưu điện / Zip</label>
                                        <input type="text" name="--">
                                    </li>
                                </ul>
                                <ul class="input-2">
                                    <li class="billing-li">
                                        <label>Địa chỉ email</label>
                                        <input type="text" name="mail" placeholder="Địa chỉ email">
                                    </li>
                                    <li class="billing-li">
                                        <label>Số điện thoại</label>
                                        <input type="text" name="phone" placeholder="Số điện thoại">
                                    </li>
                                </ul>
                            </div>
                        </form>
                        <div class="billing-details">
                            <form>
                                <h2>Chi tiết giao hàng</h2>
                                <ul class="shipping-form pro-submit">
                                    <li class="check-box label-info">
                                        <label class="box-area">
                                            <span class="text">Giao đến địa chỉ khác?</span>
                                            <input type="checkbox" class="cust-checkbox">
                                            <span class="cust-check"></span>
                                        </label>
                                    </li>
                                    <li class="comment-area">
                                        <label>Ghi chú đơn hàng (Không bắt buộc)</label>
                                        <textarea name="comments" rows="5" cols="80"></textarea>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="order-area">
                        <div class="check-pro">
                            <h2>Trong giỏ hàng của bạn (2)</h2>
                            <ul class="check-ul">
                                <li>
                                    <div class="check-pro-img">
                                        <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">
                                            <img src="~/customer/img/menu/home1-pro-banner1.jpg" class="img-fluid" alt="cart-1">
                                        </a>
                                    </div>
                                    <div class="check-content">
                                        <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Xương rồng Castle - Màu xanh lá</a>
                                        <span class="check-code">
                                            <span>Mã sản phẩm:</span>
                                            <span>CA70051541B</span>
                                        </span>
                                        <div class="check-qty-pric">
                                            <span class="check-qty">4 X</span>
                                            <span class="check-price">Rs. 11.00</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="check-pro-img">
                                        <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">
                                            <img src="~/customer/img/menu/home1-pro-banner2.jpg" class="img-fluid" alt="cart-2">
                                        </a>
                                    </div>
                                    <div class="check-content">
                                        <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Strelitzia nicolai</a>
                                        <span class="check-code">
                                            <span>Mã sản phẩm:</span>
                                            <span>CA70051541B</span>
                                        </span>
                                        <div class="check-qty-pric">
                                            <span class="check-qty">4 X</span>
                                            <span class="check-price">Rs. 21.00</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <h2>Đơn hàng của bạn</h2>
                        <ul class="order-history">
                            <li class="order-details">
                                <span>Sản phẩm:</span>
                                <span>Tổng cộng</span>
                            </li>
                            <li class="order-details">
                                <span>Kẹo hạt chocolate</span>
                                <span>Rs. 44.00</span>
                            </li>
                            <li class="order-details">
                                <span>Bánh donut</span>
                                <span>Rs. 84.00</span>
                            </li>
                            <li class="order-details">
                                <span>Tổng phụ</span>
                                <span>Rs. 128,00</span>
                            </li>
                            <li class="order-details">
                                <span>Phí vận chuyển</span>
                                <span>Miễn phí vận chuyển</span>
                            </li>
                            <li class="order-details">
                                <span>Tổng cộng</span>
                                <span>Rs. 128,00</span>
                            </li>
                        </ul>
                        <form>
                            <ul class="order-form pro-submit">
                                <li class="label-info">
                                    <label class="box-area">
                                        <span class="text">Chuyển khoản ngân hàng trực tiếp</span>
                                        <input type="checkbox" class="cust-checkbox">
                                        <span class="cust-check"></span>
                                    </label>
                                </li>
                                <li class="label-info">
                                    <label class="box-area">
                                        <span class="text">Paypal</span>
                                        <input type="checkbox" class="cust-checkbox">
                                        <span class="cust-check"></span>
                                    </label>
                                </li>
                                <li class="label-info">
                                    <label class="box-area">
                                        <span class="text">Thanh toán khi nhận hàng</span>
                                        <input type="checkbox" class="cust-checkbox">
                                        <span class="cust-check"></span>
                                    </label>
                                </li>
                                <li class="pay-icon">
                                    <a href="javascript:void(0)"><i class="fa-solid fa-credit-card"></i></a>
                                    <a href="javascript:void(0)"><i class="fa-brands fa-cc-visa"></i></a>
                                    <a href="javascript:void(0)"><i class="fa-brands fa-cc-paypal"></i></a>
                                    <a href="javascript:void(0)"><i class="fa-brands fa-cc-mastercard"></i></a>
                                </li>
                            </ul>
                        </form>
                        <div class="checkout-btn">
                            <a href="/Customer/Payment/OrderComplete" class="btn-style2 checkout disabled">Đặt hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- checkout-area end -->
