@{
    ViewData["Title"] = "Home Page";
}

    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-ul">
                            <li class="breadcrumb-li">
                                <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="breadcrumb-li">
                                <span class="breadcrumb-text">Checkout 1</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- checkout-area start -->
    <section class="section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="checkout-area">
                        <div class="billing-area">
                            <form>
                                <h2>Billing details</h2>
                                <div class="billing-form">
                                    <ul class="input-2">
                                        <li class="billing-li">
                                            <label>First name</label>
                                            <input type="text" name="f-name" placeholder="First name">
                                        </li>
                                        <li class="billing-li">
                                            <label>Last name</label>
                                            <input type="text" name="l-name" placeholder="Last name">
                                        </li>
                                    </ul>
                                    <ul class="billing-ul">
                                        <li class="billing-li">
                                            <label>Company name (Optional)</label>
                                            <input type="text" name="company details" placeholder="Company name">
                                        </li>
                                        <li class="billing-li">
                                            <label>Country</label>
                                            <select>
                                                <option>Select a country</option>
                                                <option>United country</option>
                                                <option>Russia</option>
                                                <option>italy</option>
                                                <option>France</option>
                                                <option>Ukraine</option>
                                                <option>Germany</option>
                                                <option>india</option>
                                                <option>Australia</option>
                                                <option>canada</option>
                                            </select>
                                        </li>
                                        <li class="billing-li">
                                            <label>Street address</label>
                                            <input type="text" name="address" placeholder="Street address">
                                        </li>
                                        <li class="billing-li">
                                            <label>Apartment,suite,unit etc. (Optional)</label>
                                            <input type="text" name="--">
                                        </li>
                                        <li class="billing-li">
                                            <label>Town / City</label>
                                            <input type="text" name="city">
                                        </li>
                                        <li class="billing-li">
                                            <label>State / Country</label>
                                            <input type="text" name="--">
                                        </li>
                                        <li class="billing-li">
                                            <label>Postcode / Zip</label>
                                            <input type="text" name="--">
                                        </li>
                                    </ul>
                                    <ul class="input-2">
                                        <li class="billing-li">
                                            <label>Email address</label>
                                            <input type="text" name="mail" placeholder="Email address">
                                        </li>
                                        <li class="billing-li">
                                            <label>Phone number</label>
                                            <input type="text" name="phone" placeholder="Phone number">
                                        </li>
                                    </ul>
                                </div>
                            </form>
                            <div class="billing-details">
                                <form>
                                    <h2>Shipping details</h2>
                                    <ul class="shipping-form pro-submit">
                                        <li class="check-box label-info">
                                            <label class="box-area">
                                                <span class="text">Ship to a different address?</span>
                                                <input type="checkbox" class="cust-checkbox">
                                                <span class="cust-check"></span>
                                            </label>
                                        </li>
                                        <li class="comment-area">
                                            <label>Order notes(Optional)</label>
                                            <textarea name="comments" rows="5" cols="80"></textarea>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <div class="order-area">
                            <div class="check-pro">
                                <h2>In your cart (2)</h2>
                                <ul class="check-ul">
                                    <li>
                                        <div class="check-pro-img">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">
                                                <img src="~/customer/img/menu/home1-pro-banner1.jpg" class="img-fluid" alt="cart-1">
                                            </a>
                                        </div>
                                        <div class="check-content">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Castle cactus - Green</a>
                                            <span class="check-code">
                                                <span>Product code:</span>
                                                <span>CA70051541B</span>
                                            </span>
                                            <div class="check-qty-pric">
                                                <span class="check-qty">4 X</span>
                                                <span class="check-price">Rs. 11.00</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="check-pro-img">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">
                                                <img src="~/customer/img/menu/home1-pro-banner2.jpg" class="img-fluid" alt="cart-2">
                                            </a>
                                        </div>
                                        <div class="check-content">
                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">Strelitzia nicolai</a>
                                            <span class="check-code">
                                                <span>Product code:</span>
                                                <span>CA70051541B</span>
                                            </span>
                                            <div class="check-qty-pric">
                                                <span class="check-qty">4 X</span>
                                                <span class="check-price">Rs. 21.00</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h2>Your order</h2>
                            <ul class="order-history">
                                <li class="order-details">
                                    <span>Product:</span>
                                    <span>Total</span>
                                </li>
                                <li class="order-details">
                                    <span>Candy nut chocolate</span>
                                    <span>Rs. 44.00</span>
                                </li>
                                <li class="order-details">
                                    <span>A bekery doughnutss</span>
                                    <span>Rs. 84.00</span>
                                </li>
                                <li class="order-details">
                                    <span>Subtotal</span>
                                    <span>Rs. 128,00</span>
                                </li>
                                <li class="order-details">
                                    <span>Shipping Charge</span>
                                    <span>Free shipping</span>
                                </li>
                                <li class="order-details">
                                    <span>Total</span>
                                    <span>Rs. 128,00</span>
                                </li>
                            </ul>
                            <form>
                                <ul class="order-form pro-submit">
                                    <li class="label-info">
                                        <label class="box-area">
                                            <span class="text">Direct bank transfer</span>
                                            <input type="checkbox" class="cust-checkbox">
                                            <span class="cust-check"></span>
                                        </label>
                                    </li>
                                    <li class="label-info">
                                        <label class="box-area">
                                            <span class="text">Paypal</span>
                                            <input type="checkbox" class="cust-checkbox">
                                            <span class="cust-check"></span>
                                        </label>
                                    </li>
                                    <li class="label-info">
                                        <label class="box-area">
                                            <span class="text">Cash on hand</span>
                                            <input type="checkbox" class="cust-checkbox">
                                            <span class="cust-check"></span>
                                        </label>
                                    </li>
                                    <li class="pay-icon">
                                        <a href="javascript:void(0)"><i class="fa-solid fa-credit-card"></i></a>
                                        <a href="javascript:void(0)"><i class="fa-brands fa-cc-visa"></i></a>
                                        <a href="javascript:void(0)"><i class="fa-brands fa-cc-paypal"></i></a>
                                        <a href="javascript:void(0)"><i class="fa-brands fa-cc-mastercard"></i></a>
                                    </li>
                                </ul>
                            </form>
                            <div class="checkout-btn">
                                <a href="/Customer/Payment/OrderComplete" class="btn-style2 checkout disabled">Place order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- checkout-area end -->
