<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Hoàn tất đơn hàng</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- order-complete start -->
<section class="order-complete section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="order-area">
                    <!-- order-price start -->
                    <div class="order-price">
                        <ul class="total-order">
                            <li>
                                <span class="order-no">Số đơn hàng: 1724</span>
                                <span class="order-date"><span class="order-date">23 tháng 1, 2024 3:04 chiều</span></span>
                            </li>
                            <li>
                                <span class="total-price">Tổng đơn hàng</span>
                                <span class="amount">136,000 đ</span>
                            </li>
                        </ul>
                    </div>
                    <!-- order-price end -->
                    <!-- order-details start -->
                    <div class="order-details">
                        <span class="text-success order-i"><i class="fa fa-check-circle"></i></span>
                        <h4>Cảm ơn bạn đã đặt hàng</h4>
                        <span class="order-s">Đơn hàng của bạn sẽ được gửi đi trong vài giờ tới</span>
                        <a href="/Customer/Payment/TrackOrder" class="tracking-link btn btn-style2">Chi tiết theo dõi</a>
                    </div>
                    <!-- order-details end -->
                    <!-- order-delivery start -->
                    <div class="order-delivery">
                        <ul class="delivery-payment">
                            <li class="delivery">
                                <h6>Địa chỉ giao hàng</h6>
                                <p>Lorem ipsum</p>
                                <span class="order-span">7003 đường Fairway</span>
                                <span class="order-span">New York</span>
                                <span class="order-span">NY 10033</span>
                                <span class="order-span">Hoa Kỳ</span>
                                <span class="order-span">Số điện thoại: +11-123456789</span>
                            </li>
                            <li class="pay">
                                <h6>Tóm tắt thanh toán</h6>
                                <p class="transition">Mã giao dịch: 66282856617</p>
                                <span class="order-span p-label">
                                    <span class="n-price">Giá</span>
                                    <span class="o-price">128,000 đ</span>
                                </span>
                                <span class="order-span p-label">
                                    <span class="n-price">Phí vận chuyển</span>
                                    <span class="o-price">8,000 đ</span>
                                </span>
                                <span class="order-span p-label">
                                    <span class="n-price">Tổng cộng</span>
                                    <span class="o-price">136,000 đ</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- order-delivery end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- order-complete end -->
