@{
    ViewData["Title"] = "Home Page";
}

<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Payment policy</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- return policy start -->
<section class="shipping-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- shipping title start -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2><span>Payment policy </span></h2>
                    </div>
                </div>
                <!-- shipping title end -->
                <!-- shipping content start -->
                <div class="shipping">
                    <span>Q.1</span>
                    <h6 class="shipping-title">How do i pay for a panno purchase?</h6>
                    <div class="shipping-content">
                        <p>Panno offers you multiple payment methods. Whatever your online mode of payment, you can trust assured that panno trusted payment gateway partners use secure encryption technology to keep your transaction details confidential at all times..</p>
                        <p>All products must be returned in their original condition along with the bills and labels.</p>
                    </div>
                </div>
                <div class="shipping">
                    <span>Q.2</span>
                    <h6 class="shipping-title">Can i make a credit/debit card or internet banking payment through my mobile?</h6>
                    <div class="shipping-content">
                        <p>Yes, you can make credit card payments through the panno mobile site. panno uses 256-bit encryption technology to protect your card information while securely transmitting it to the secure and trusted payment gateways managed by leading banks.</p>
                    </div>
                </div>
                <div class="shipping">
                    <span>Q.3</span>
                    <h6 class="shipping-title">Is it safe to use my credit/debit card on panno?</h6>
                    <div class="shipping-content">
                        <p>All credit/debit card details remain confidential and private. panno and our trusted payment gateways use ssl encryption technology to protect your card information.</p>
                    </div>
                </div>
                <div class="shipping">
                    <span>Q.4</span>
                    <h6 class="shipping-title">Does craftsvilla store my credit card information?</h6>
                    <div class="shipping-content">
                        <p>No, panno does not collect or store your account information at all. Your transaction is authorized at multiple points, first by ebs/ccavenue and subsequently by visa/mastercard/amex secure directly without any information passing through us.</p>
                    </div>
                </div>
                <!-- shipping content end -->
            </div>
        </div>
    </div>
</section>
<!-- return policy end -->
