@{
    ViewData["Title"] = "Home Page";
}

<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Chính sách thanh toán</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- return policy start -->
<section class="shipping-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- shipping title start -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2><span>Chính sách thanh toán</span></h2>
                    </div>
                </div>
                <!-- shipping title end -->
                <!-- shipping content start -->
                <div class="shipping">
                    <span>Câu Hỏi 1</span>
                    <h6 class="shipping-title">Tôi phải thanh toán khi mua panno như thế nào?</h6>
                    <div class="shipping-content">
                        <p>Panno cung cấp cho bạn nhiều phương thức thanh toán. Bất kể phương thức thanh toán trực tuyến của bạn là gì, bạn có thể tin tưởng rằng các đối tác cổng thanh toán đáng tin cậy của panno sử dụng công nghệ mã hóa an toàn để giữ bí mật thông tin giao dịch của bạn mọi lúc.</p>
                        <p>Tất cả sản phẩm phải được trả lại theo tình trạng ban đầu cùng với hóa đơn và nhãn mác.</p>
                    </div>
                </div>
                <div class="shipping">
                    <span>Câu hỏi 2</span>
                    <h6 class="shipping-title">Tôi có thể thanh toán bằng thẻ tín dụng/thẻ ghi nợ hoặc ngân hàng trực tuyến qua điện thoại di động không?</h6>
                    <div class="shipping-content">
                        <p>Có, bạn có thể thanh toán bằng thẻ tín dụng thông qua trang web di động panno. panno sử dụng công nghệ mã hóa 256 bit để bảo vệ thông tin thẻ của bạn trong khi truyền thông tin đó một cách an toàn đến các cổng thanh toán an toàn và đáng tin cậy do các ngân hàng hàng đầu quản lý.</p>
                    </div>
                </div>
                <div class="shipping">
                    <span>Câu hỏi 3</span>
                    <h6 class="shipping-title">Tôi có thể sử dụng thẻ tín dụng/thẻ ghi nợ trên panno một cách an toàn không?</h6>
                    <div class="shipping-content">
                        <p>Mọi thông tin chi tiết về thẻ tín dụng/thẻ ghi nợ đều được bảo mật và riêng tư. Panno và các cổng thanh toán đáng tin cậy của chúng tôi sử dụng công nghệ mã hóa SSL để bảo vệ thông tin thẻ của bạn.</p>
                    </div>
                </div>
                <div class="shipping">
                    <span>Câu hỏi 4</span>
                    <h6 class="shipping-title">craftsvilla có lưu trữ thông tin thẻ tín dụng của tôi không?</h6>
                    <div class="shipping-content">
                        <p>Không, panno không thu thập hoặc lưu trữ thông tin tài khoản của bạn. Giao dịch của bạn được ủy quyền tại nhiều điểm, đầu tiên là qua ebs/ccavenue và sau đó là qua visa/mastercard/amex secure trực tiếp mà không cần bất kỳ thông tin nào đi qua chúng tôi.</p>
                    </div>
                </div>
                <!-- shipping content end -->
            </div>
        </div>
    </div>
</section>
<!-- return policy end -->
