
<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Theo dõi</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- tracking start -->
<section class="track-block  section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="track-area">
                    <div class="track-price">
                        <ul class="track-order">
                            <li class="track-li">
                                <h6>Id đơn hàng của bạn là: 121</h6>
                            </li>
                            <li class="track-li">
                                <span class="track-status">Trạng thái:</span>
                                Được chọn bởi chuyển phát nhanh
                            </li>
                        </ul>
                    </div>
                    <div class="track-info">
                        <div class="track-content">
                            <div class="track-wrap active">
                                <span class="track-icon"><i class="fa fa-check"></i></span>
                                <span class="track-text">Đơn hàng đã được xác nhận</span>
                            </div>
                            <div class="track-wrap active">
                                <span class="track-icon"><i class="fa fa-user"></i></span>
                                <span class="track-text">
                                    Được chọn bởi chuyển phát nhanh
                                </span>
                            </div>
                            <div class="track-wrap">
                                <span class="track-icon"><i class="fa fa-truck"></i></span>
                                <span class="track-text">
                                    Trên đường đi
                                </span>
                            </div>
                            <div class="track-wrap">
                                <span class="track-icon"><i class="fa fa-archive"></i></span>
                                <span class="track-text">
                                    Sẵn sàng để đón
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tracking end -->
