@model IEnumerable<Object>
@if (Model != null)
{
    <!-- category start -->
<section class="category-slider section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-capture">
                    <div class="section-title">
                        <h2>Shop category</h2>
                    </div>
                </div>
                <div class="cat-slider owl-carousel owl-theme" id="category-slider">
                    <div class="item">
                        <div class="category-wrap banner-hover">
                            <a asp-area="Customer" asp-controller="ClientCustomer" asp-action="Index" class="cat-img-title banner-img">
                                <div class="cat-img">
                                    <img src="~/customer/img/cat/home-1-cate1.jpg" class="img-fluid" alt="cat-1">
                                </div>
                                <div class="cat-content-info">
                                    <div class="cat-content">
                                        <h6><span class="cat-title">Snake plant</span></h6>
                                        <span class="cat-count">12 Items</span>
                                    </div>
                                    <div class="category-button">
                                        <span class="button-block"><i class="feather-plus"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category-wrap banner-hover">
                            <a asp-area="Customer" asp-controller="ClientCustomer" asp-action="Index" class="cat-img-title banner-img">
                                <div class="cat-img">
                                    <img src="~/customer/img/cat/home-1-cate2.jpg" class="img-fluid" alt="cat-2">
                                </div>
                                <div class="cat-content-info">
                                    <div class="cat-content">
                                        <h6><span class="cat-title">Radermachera</span></h6>
                                        <span class="cat-count">12 Items</span>
                                    </div>
                                    <div class="category-button">
                                        <span class="button-block"><i class="feather-plus"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category-wrap banner-hover">
                            <a asp-area="Customer" asp-controller="ClientCustomer" asp-action="Index" class="cat-img-title banner-img">
                                <div class="cat-img">
                                    <img src="~/customer/img/cat/home-1-cate3.jpg" class="img-fluid" alt="cat-3">
                                </div>
                                <div class="cat-content-info">
                                    <div class="cat-content">
                                        <h6><span class="cat-title">Strelitzia nicolai</span></h6>
                                        <span class="cat-count">12 Items</span>
                                    </div>
                                    <div class="category-button">
                                        <span class="button-block"><i class="feather-plus"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category-wrap banner-hover">
                            <a asp-area="Customer" asp-controller="ClientCustomer" asp-action="Index" class="cat-img-title banner-img">
                                <div class="cat-img">
                                    <img src="~/customer/img/cat/home-1-cate4.jpg" class="img-fluid" alt="cat-4">
                                </div>
                                <div class="cat-content-info">
                                    <div class="cat-content">
                                        <h6><span class="cat-title">Monstera plant</span></h6>
                                        <span class="cat-count">12 Items</span>
                                    </div>
                                    <div class="category-button">
                                        <span class="button-block"><i class="feather-plus"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category-wrap banner-hover">
                            <a asp-area="Customer" asp-controller="ClientCustomer" asp-action="Index" class="cat-img-title banner-img">
                                <div class="cat-img">
                                    <img src="~/customer/img/cat/home-1-cate5.jpg" class="img-fluid" alt="cat-5">
                                </div>
                                <div class="cat-content-info">
                                    <div class="cat-content">
                                        <h6><span class="home-1-cat-title">Bromeliads</span></h6>
                                        <span class="cat-count">12 Items</span>
                                    </div>
                                    <div class="category-button">
                                        <span class="button-block"><i class="feather-plus"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category-wrap banner-hover">
                            <a asp-area="Customer" asp-controller="ClientCustomer" asp-action="Index" class="cat-img-title banner-img">
                                <div class="cat-img">
                                    <img src="~/customer/img/cat/home-1-cate6.jpg" class="img-fluid" alt="cat-6">
                                </div>
                                <div class="cat-content-info">
                                    <div class="cat-content">
                                        <h6><span class="cat-title">Fruit plants</span></h6>
                                        <span class="cat-count">12 Items</span>
                                    </div>
                                    <div class="category-button">
                                        <span class="button-block"><i class="feather-plus"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- category end -->
}