.toast-background {
    background-image: url('~/images/backgroundToastr.jpg'); /* Thay 'link_hinh_anh_nen' bằng liên kết hình ảnh của bạn */
    background-size: cover; /* Lấp đầy toàn bộ vùng */
    background-position: center; /* Căn giữa hình ảnh */
    color: white; /* Màu chữ sáng để nổi bật trên hình nền */
    backdrop-filter: blur(5px); /* Mức độ làm mờ; bạn có thể điều chỉnh nó */
    opacity: 0.5;
}
