@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Customer/Views/Shared/_Layout.cshtml";
    }
}

<link rel="stylesheet" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />
<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Quản lý thông tin tài khoản</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!--profile start -->
<section class="pro-address-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="password-block">
                    <!-- order profile start -->
                    <div class="profile-info">
                        @await Component.InvokeAsync("AccountProfile")
                        <div class="account-detail">
                            <partial name="_ManageNav" />
                        </div>
                    </div>
                    <!-- order profile end -->
                    <!-- order info start -->
                    <div class="profile-form profile-address">
                        @RenderBody()
                    </div>
                    <!-- order info end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- profile end -->
@section Scripts {
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js" asp-append-version="true"></script>
    <script src="~/js/identity/clientOrder.js" asp-append-version="true"></script>
    <script src="~/js/identity/clientComment.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
}
