@page
@model B3cBonsaiWeb.Areas.Identity.Pages.Account.Manage.ClientOrderModel
@{
    ViewData["Title"] = "Bình luận của bạn";
    ViewData["ActivePage"] = ManageNavPages.ClientComment;
}


    <div class="pro-add-title">
        <h6>Bình luận</h6>
    </div>
    <table class="table table-hover" id="ClientCommentData">
    </table>
