@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Tải Dữ Liệu Của Bạn";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="pro-add-title">
    <h3>@ViewData["Title"]</h3>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
