@page
@model IndexModel
@{
    ViewData["Title"] = "Hồ sơ cá nhân";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="billing-area">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form id="profile-form" method="post">
                <div class="pro-add-title">
                    <h6>@ViewData["Title"]</h6>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <ul class="billing-form">
                    @* <li class="billing-li">
                        <label>Tên</label>
                        <input asp-for="Input.FullName" type="text" class="form-control" placeholder="Tên" required />
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </li>
                    <li class="billing-li">
                        <label>Email</label>
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Địa chỉ email" required />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </li> *@
                    <li class="billing-li">
                        <label>Số điện thoại</label>
                        <input asp-for="Input.PhoneNumber" type="text" class="form-control" placeholder="Số điện thoại" required />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </li>
                </ul>

                <ul class="pro-submit">
                    <li>
                        <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Cập nhật hồ sơ</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
