@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dữ liệu cá nhân";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="pro-add-title mb-4">
    <h6>@ViewData["Title"]</h6>
</div>

<div class="row">
    <div class="col-md-6">
        <p>Tài khoản của bạn chứa dữ liệu cá nhân mà bạn đã cung cấp cho chúng tôi. Trang này cho phép bạn tải xuống hoặc xóa dữ liệu đó.</p>
        <p>
            <strong>Xóa dữ liệu này sẽ vĩnh viễn xóa tài khoản của bạn, và điều này không thể khôi phục.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="mb-3">
            <button class="btn btn-primary" type="submit">Tải xuống</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Xóa</a>
        </p>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
