@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Xác thực hai yếu tố (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="billing-area">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="pro-add-title">
        <h6>@ViewData["Title"]</h6>
    </div>
    <div class="billing-form">

        @{
            var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
            if (consentFeature?.CanTrack ?? true)
            {
                if (Model.Is2faEnabled)
                {
                    if (Model.RecoveryCodesLeft == 0)
                    {
                        <div class="alert alert-danger">
                            <strong>Bạn không còn mã khôi phục nào.</strong>
                            <p>Bạn phải <a asp-page="./GenerateRecoveryCodes">tạo một bộ mã khôi phục mới</a> trước khi có thể đăng nhập bằng mã khôi phục.</p>
                        </div>
                    }
                    else if (Model.RecoveryCodesLeft == 1)
                    {
                        <div class="alert alert-danger">
                            <strong>Bạn còn 1 mã khôi phục.</strong>
                            <p>Bạn có thể <a asp-page="./GenerateRecoveryCodes">tạo một bộ mã khôi phục mới</a>.</p>
                        </div>
                    }
                    else if (Model.RecoveryCodesLeft <= 3)
                    {
                        <div class="alert alert-warning">
                            <strong>Bạn còn @Model.RecoveryCodesLeft mã khôi phục.</strong>
                            <p>Bạn nên <a asp-page="./GenerateRecoveryCodes">tạo một bộ mã khôi phục mới</a>.</p>
                        </div>
                    }

                    if (Model.IsMachineRemembered)
                    {
                        <form method="post" style="display: inline-block">
                            <button type="submit" class="btn btn-warning">Quên trình duyệt này</button>
                        </form>
                    }

                    <a asp-page="./Disable2fa" class="btn btn-danger">Vô hiệu hóa 2FA</a>
                    <a asp-page="./GenerateRecoveryCodes" class="btn btn-warning">Đặt lại mã khôi phục</a>
                }

                <h4 class="mb-3">Ứng dụng xác thực</h4>

                @if (!Model.HasAuthenticator)
                {
                    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Thêm ứng dụng xác thực</a>
                }
                else
                {
                    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Cấu hình ứng dụng xác thực</a>
                    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-warning">Đặt lại ứng dụng xác thực</a>
                }
            }
            else
            {
                <div class="alert alert-danger">
                    <strong>Chính sách quyền riêng tư và cookie chưa được chấp nhận.</strong>
                    <p>Bạn phải chấp nhận chính sách trước khi có thể kích hoạt xác thực hai yếu tố.</p>
                </div>
            }
        }
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
