@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NguoiDungUngDung
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="clearfix">
                    <div class="card card-bx profile-card author-profile m-b30">
                        <div class="card-body">
                            <div class="p-5">
                                <div class="author-profile">
                                    <div class="author-media">
                                        <img src="@Url.Content(Model.LinkAnh)" alt="" onerror="this.src='/images/user/default.png'">
                                        <div class="upload-link" title="" data-toggle="tooltip" data-placement="right" data-original-title="update">
                                            <input type="file" class="update-flie" accept="image/*">
                                            <i class="fa fa-camera"></i>
                                        </div>
                                    </div>
                                    <div class="author-info">
                                        <h6 class="title">@Model.HoTen</h6>
                                        <span>@Model.VaiTro</span> <!-- Có thể thay đổi thành thuộc tính khác hoặc để trống -->
                                    </div>
                                </div>
                            </div>
                            @* <div class="info-list">
                                <ul>
                                    <li><a href="app-profile.html">Models</a><span>36</span></li>
                                    <li><a href="uc-lightgallery.html">Gallery</a><span>3</span></li>
                                    <li><a href="app-profile.html">Lessons</a><span>1</span></li>
                                </ul>
                            </div> *@
                        </div>
                        @* <div class="card-footer">
                            <div class="input-group mb-3">
                                <div class="form-control rounded text-center bg-white">Portfolio</div> <!-- Có thể bỏ qua nếu không cần -->
                            </div>
                            <div class="input-group">
                                <a href="https://www.dexignzone.com/" target="_blank" class="form-control text-primary rounded text-start bg-white">https://www.dexignzone.com/</a> <!-- Có thể bỏ qua nếu không cần -->
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8" id="viewProfile" >
                @await Html.PartialAsync("ProfileForm",Model)
            </div>
        </div>
    </div>
</div>


@section Scripts{
	<script>
		$('.update-flie').on('change', function() {
			const file = this.files[0];

			const reader = new FileReader();
			reader.onload = function(e) {
                Swal.fire({
                    title: "Thay đổi hình đại diện",
                    text: "Bạn có muốn thay đổi hình đại diện không?",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Vâng, thay đổi!",
                    cancelButtonText: "Không"
                }).then((result) => {
                    if (result.value) {
                        const formData = new FormData();
                        formData.append("file", file); // Thêm tệp vào FormData

                        $.ajax({
                            url: `/Employee/EmployeeProfile/ChangeAvatar`,
                            type: 'POST', // Không quên chỉ định phương thức HTTP
                            data: formData,
                            contentType: false, // Đặt contentType là false để jQuery không gửi tiêu đề Content-Type
                            processData: false, // Đặt processData là false để jQuery không thay đổi dữ liệu
                            success: (data) => {
                                if (data.success) {
                                    Swal.fire({
                                        title: "Đã đổi!",
                                        text: "Bạn có thể load lại trang nếu muốn hiển thị.",
                                        type: "success"
                                    });
                                } else {
                                    Swal.fire({
                                        title: "Lỗi!",
                                        text: `Dữ liệu file nhập vào không hợp lệ!`,
                                        type: "error"
                                    });
                                }
                            },
                            error: (xhr) => {
                                Swal.fire({
                                    title: "Lỗi!",
                                    text: `${xhr.responseText}`,
                                    type: "error"
                                });
                            }
                        });
                    }
                });
			}
			reader.readAsDataURL(file); // Đọc tệp hình ảnh để kiểm tra trước
		});
        function submitProfileForm(event) {
            event.preventDefault(); // Ngăn không cho form tải lại trang

            var formData = new FormData(document.getElementById('formProfile'));

            $.ajax({
                url: `/Employee/EmployeeProfile/ProfileFormUpdate`,
                method: 'POST',
                data: formData,
                contentType: false,  // Gửi đúng định dạng form-data
                processData: false,  // Không xử lý dữ liệu
                success: (data) => {
                    if (data.success) {
                        $('#viewProfile').html(data.data);
                        toastr.success("Sửa thông tin thành công");
                    } else {
                        $('#viewProfile').html(data.data);
                        toastr.info("Cập nhật thông tin thất bại");
                    }
                },
                error: (xhr) => {
                    toastr.error(xhr.responseText);
                }
            });

            return false; // Đảm bảo ngăn submit form thông thường
        }

	</script>
}