

<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Cửa hàng </a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">
                                Bộ sưu tập còn lại
                            </span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- collection start -->
<section class="main-content-wrap shop-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="pro-grli-wrapper left-side-wrap">
                    <div class="pro-grli-wrap product-grid">
                        <div class="collection-img-wrap">
                            <h6 class="st-title">
                                Bộ sưu tập còn lại (23)
                            </h6>
                            <!-- collection info start -->
                            <div class="collection-info">
                                <div class="collection-image">
                                    <img src="~/customer/img/banner/sall-banner.jpg" class="img-fluid" alt="sall-banner">
                                </div>
                            </div>
                            <!-- collection info end -->
                        </div>
                        <!-- shop-top-bar start -->
                        <div class="shop-top-bar">
                            <div class="product-filter without-sidebar">
                                <button class="filter-button" type="button"><i class="fa-solid fa-filter"></i><span>Lọc</span></button>
                            </div>
                            <div class="product-view-mode">
                                <!-- shop-item-filter-list bắt đầu -->
                                <a href="javascript:void(0)" class="list-change-view grid-three active" data-grid-view="3"><i class="fa-solid fa-border-all"></i></a>
                                <a href="javascript:void(0)" data-grid-view="1" class="list-change-view list-one"><i class="fa-solid fa-list"></i></a>
                                <!-- shop-item-filter-list kết thúc -->
                            </div>
                            <!-- product-short bắt đầu -->
                            <div class="product-short">
                                <label for="SortBy">Sắp xếp theo:</label>
                                <select class="nice-select" name="sortby" id="SortBy">
                                    <option value="manual">Nổi bật</option>
                                    <option value="best-selling">Bán chạy nhất</option>
                                    <option value="title-ascending">Theo tên, A-Z</option>
                                    <option value="title-descending">Theo tên, Z-A</option>
                                    <option value="price-ascending">Theo giá, thấp đến cao</option>
                                    <option value="price-descending">Theo giá, cao đến thấp</option>
                                    <option value="created-descending">Theo ngày, mới đến cũ</option>
                                    <option value="created-ascending">Theo ngày, cũ đến mới</option>
                                </select>
                                <a href="javascript:void(0)" class="short-title">
                                    <span class="sort-title">Bán chạy nhất</span>
                                    <span class="sort-icon"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <a href="javascript:void(0)" class="short-title short-title-lg">
                                    <span class="sort-title">Bán chạy nhất</span>
                                    <span class="sort-icon"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <ul class="pro-ul collapse">
                                    <li class="pro-li"><a href="javascript:void(0)">Nổi bật</a></li>
                                    <li class="pro-li selected"><a href="javascript:void(0)">Bán chạy nhất</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo tên, A-Z</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo tên, Z-A</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo giá, thấp đến cao</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo giá, cao đến thấp</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo ngày, mới đến cũ</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo ngày, cũ đến mới</a></li>
                                </ul>
                            </div>
                            <!-- product-short end -->
                        </div>
                        <!-- shop-top-bar end -->
                        <!-- special-product start -->
                        <div class="special-product grid-3" id="gridViewListProduct">
                            
                        </div>
                    </div>
                    <div class="pro-grli-wrap product-sidebar">
                        <div class="pro-grid-block">
                            <div class="shop-sidebar-inner">
                                <div class="shop-sidebar-wrap filter-sidebar">
                                    <!-- button start -->
                                    <button class="close-sidebar" type="button">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                    <!-- button end -->
                                    <!-- filter-form start -->
                                    <div class="facets">
                                        @await Component.InvokeAsync("LeftBarFilter")
                                    </div>
                                    <!-- filter-form end -->
                                </div>
                            </div>
                            <!-- sidebar img start -->
                            <div class="sidebar-banner banner-hover">
                                <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Index" class="sidebar-img banner-img">
                                    <span class="sidebar-banner-image">
                                        <img src="~/customer/img/banner/side-banner.jpg" class="img-fluid" alt="side-banner">
                                    </span>
                                    <span class="sidebar-banner-icon"><i class="bi bi-arrow-right-short"></i></span>
                                </a>
                            </div>
                            <!-- sidebar img start -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- collection end -->
@section Scripts {
    <script src="/js/customer/clientProduct.js" asp-append-version="true" >
    </script>
}