@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <!-- row -->
    <div class="page-titles">
        <ol class="breadcrumb">
            <li>
                <h5 class="bc-title">Quản lý bình luận</h5>
            </li>
            <li class="breadcrumb-item">
                <a href="/">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z"
                            stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    Trang chủ
                </a>
            </li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Bình luận</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive active-projects style-1">
                            <div class="tbl-caption">
                                <h4 class="heading mb-0">Danh sách bình luận</h4>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex px-3 align-items-center mt-3 gap-4">
                                    <div class="form-check custom-checkbox mb-3 checkbox-danger">
                                        <input type="checkbox" id="deleteNotQuest" class="form-check-input" />
                                        <label for="deleteNotQuest" class="form-check-label">Xóa bình luận không cần
                                            hỏi</label>
                                    </div>
                                    <div class="form-check custom-checkbox mb-3 checkbox-warning">
                                        <input type="checkbox" id="changeNotQuest" class="form-check-input" />
                                        <label for="changeNotQuest" class="form-check-label">Thay đổi trạng thái bình
                                            luận không cần hỏi</label>
                                    </div>
                                </div>
                                <div class="d-flex px-3 align-items-center mt-3 gap-4">
                                    <div class="form-check mb-3">
                                        <button class="btn btn-rounded btn-outline-danger"
                                            onclick="deleteManyComment(takeAllCommentsSelect())" id="btnDeleteMany"> Xóa
                                            nhiều</button>
                                    </div>
                                    <div class="form-check mb-3">
                                        <button class="btn btn-rounded btn-outline-warning"
                                            onclick="changeManyStatus(takeAllCommentsSelect())" id="btnChangeMany"> Sửa
                                            nhiều</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive p-3 datatables">
                                <table id="tblData" class="display table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="form-check custom-checkbox ms-0">
                                                    <input type="checkbox" class="form-check-input checkAllInput"
                                                        id="checkAllComments" />
                                                    <label class="form-check-label" for="checkAllComments"></label>
                                                </div>
                                            </th>
                                            <th>Thông tin sản phẩm</th>
                                            <th>Nội dung bình luận</th>
                                            <th>Ngày bình luận</th>
                                            <th>Tình trạng</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/employee/managerComment.js" asp-append-version="true"></script>
}