
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="detailWithDelete" aria-hidden="true">
	<div class="modal-dialog modal-dialog-center" style="width: 75%;">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="detailWithDelete">Thông tin nhân viên</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4">
                            <div class="clearfix">
                                <div class="card card-bx profile-card author-profile m-b30">
                                    <div class="card-body">
                                        <div class="p-5">
                                            <div class="author-profile">
                                                <div class="author-media">
                                                    <div style="height: 300px; overflow-y: auto;">
                                                        <img src="~/images/product/default.jpg" alt="Hình ảnh sản phẩm mặc định" style="width: 100%; margin-bottom: 10px;">
                                                        <img src="~/images/product/default.jpg" alt="Hình ảnh sản phẩm" style="width: 100%; margin-bottom: 10px;">
                                                        <!-- Thêm nhiều hình ảnh giả định nếu cần -->
                                                    </div>
                                                </div>
                                                <div class="author-info">
                                                    <h6 class="title">Tên Sản Phẩm</h6>
                                                    <span>Giá: 1,000,000 đ</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8">
                            <div class="card profile-card card-bx m-b30">
                                <div class="card-header">
                                    <h6 class="title">Thông tin sản phẩm (Mã: 12345)</h6>
                                </div>
                                <form class="profile-form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Tên sản phẩm</label>
                                                <input readonly type="text" class="form-control" value="Tên Sản Phẩm">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Giá</label>
                                                <input readonly type="text" class="form-control" value="1,000,000 đ">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Trọng lượng</label>
                                                <input readonly type="text" class="form-control" value="500g">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Kích thước</label>
                                                <input readonly type="text" class="form-control" value="20 x 10 x 5 cm">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Số lượng</label>
                                                <input readonly type="text" class="form-control" value="100">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Trạng thái</label>
                                                <input readonly type="text" class="form-control" value="Đang hoạt động">
                                            </div>
                                            <div class="col-sm-12 m-b30">
                                                <label class="form-label">Mô tả</label>
                                                <textarea class="form-control" rows="3" readonly>Đây là mô tả sản phẩm.</textarea>
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Ngày tạo</label>
                                                <input readonly type="text" class="form-control" value="01/01/2024">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Ngày cập nhật</label>
                                                <input readonly type="text" class="form-control" value="15/10/2024">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="deleteObject">Xóa đối tượng</button>
			</div>
		</div>
	</div>
</div>