@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li>
                <h5 class="bc-title">Quản lý sản phẩm</h5>
            </li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive active-projects style-1">
                            <div class="tbl-caption">
                                <h4 class="heading mb-0">Sản phẩm</h4>
                                <div>
                                    <a onclick="loadViewUpsert('')" class="btn btn-primary btn-sm"
                                        data-bs-toggle="offcanvas" href="#upsertObject" role="button"
                                        aria-controls="upsertObject">+ Thêm sản phẩm</a>
                                </div>
                            </div>
                            <div class="table-responsive p-3 datatables">
                                <table id="products-table" class="display table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Danh mục</th>
                                            <th>Số lượng</th>
                                            <th>Giá</th>
                                            <th>Ngày tạo</th>
                                            <th>Ngày cập nhật</th>
                                            <th>Trạng thái</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section upsertObject {
    <div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="upsertObject">
    </div>
}


@section detailWithDelete {
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="detailWithDelete" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center" style="width: 75%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="detailWithDelete">Thông tin sản phẩm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="contentDWD">
                    <div id="preloader">
                        <div class="lds-ripple">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- Modal -->


@section Scripts {
    <script src="~/js/employee/ManagerProduct.js" asp-append-version="true"></script>
}


