@model B3cBonsai.Models.SanPham

<div class="offcanvas-header">
    <h5 class="modal-title" id="#gridSystemModal">@((Model.Id == 0) ? "Thêm sản phẩm" : "Cập nhật sản phẩm")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>

<div class="offcanvas-body">
    <div class="container-fluid">
        <form asp-action="Upsert" method="post" id="upsertForm" enctype="multipart/form-data">
            <div class="row">
                @{
                    var hasErrors = ViewData.ModelState.Any(x => x.Value.Errors.Any());
                }
                @if (hasErrors)
                {
                    <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
                }

                <div class="row justify-content-center mb-3">
                    <div class="col-md-3 text-center">
                        <img class="img-thumbnail" src="~/images/product/default.jpg" alt="Hình ảnh sản phẩm" style="height:100px;width:100%;object-fit:contain" />
                    </div>
                    <div class="col-md-9">
                        <label class="form-label">Chọn hình ảnh</label>
                        <input type="file" name="HinhAnhs" class="form-control" multiple accept="image/*" />
                    </div>
                </div>

                <div class="col-xl-6 mb-3">
                    <label asp-for="TenSanPham" class="form-label">Tên sản phẩm <span class="text-danger">*</span></label>
                    <input asp-for="TenSanPham" class="form-control" required />
                    <span asp-validation-for="TenSanPham" class="text-danger"></span>
                </div>

                <div class="col-xl-6 mb-3">
                    <label asp-for="DanhMucId" class="form-label">Danh mục</label>
                    <select asp-for="DanhMucId" class="default-select form-control" asp-items="ViewBag.DanhMucOptions" required>
                        <option value="">Chọn danh mục</option>
                    </select>
                    <span asp-validation-for="DanhMucId" class="text-danger"></span>
                </div>

                <div class="col-xl-6 mb-3">
                    <label asp-for="SoLuong" class="form-label">Số lượng</label>
                    <input asp-for="SoLuong" class="form-control" required />
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                </div>

                <div class="col-xl-6 mb-3">
                    <label asp-for="Gia" class="form-label">Giá</label>
                    <input asp-for="Gia" class="form-control" required />
                    <span asp-validation-for="Gia" class="text-danger"></span>
                </div>

                <div class="col-xl-12 mb-3">
                    <label asp-for="MoTa" class="form-label">Mô tả</label>
                    <textarea asp-for="MoTa" rows="4" class="form-control" required></textarea>
                    <span asp-validation-for="MoTa" class="text-danger"></span>
                </div>

                <div class="col-xl-6 mb-3">
                    <label asp-for="NgayTao" class="form-label">Ngày tạo</label>
                    <input asp-for="NgayTao" type="date" class="form-control" readonly />
                </div>

                <div class="col-xl-6 mb-3">
                    <label asp-for="NgaySuaDoi" class="form-label">Ngày sửa đổi</label>
                    <input asp-for="NgaySuaDoi" type="date" class="form-control" readonly />
                </div>

                <div class="col-xl-6 mb-3">
                    <label asp-for="TrangThai" class="form-label">Trạng thái</label>
                    <select asp-for="TrangThai" class="default-select form-control" required>
                        <option value="true">Hoạt động</option>
                        <option value="false">Ngừng hoạt động</option>
                    </select>
                    <span asp-validation-for="TrangThai" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="offcanvas">Hủy</button>
                <button type="submit" class="btn btn-primary">@((Model.Id == 0) ? "Thêm" : "Cập nhật")</button>
            </div>
        </form>
    </div>
</div>


<script>
    // Xử lý khi form được submit
    $("#upsertForm").on("submit", function(e) {
        e.preventDefault(); // Ngăn không cho form submit thông thường

        // Lấy dữ liệu từ form
        var formData = new FormData(this);

        $.ajax({
            url: '/Employee/ManagerProduct/Upsert', // URL của action
            method: 'POST', // Phương thức POST
            data: formData, // Dữ liệu form
            processData: false, // Không xử lý dữ liệu
            contentType: false, // Không cần thiết lập contentType
            success: function(response) {
                if (response.success) {
                    // Nếu thêm thành công, hiển thị thông báo thành công
                    toastr.success(response.content, response.title, { timeOut: 5000 });
                    dataTable.ajax.reload();
                } else {
                    $('#upsertObject').html(response.data);

                    // Thông báo lỗi với toastr
                    toastr.error(response.content, response.title, { timeOut: 5000 });
                }
            },
            error: function(xhr, status, error) {
                // Hiển thị thông báo lỗi chung nếu có lỗi trong quá trình gọi Ajax
                toastr.error("Có lỗi xảy ra trong quá trình xử lý. Vui lòng thử lại!", "Lỗi", { timeOut: 5000 });
                console.log(xhr);
            }
        });
    });
</script>