<div class="offcanvas-header">
    <h5 class="modal-title">Thêm sản phẩm</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form id="upsertForm">
        <div class="row">
            <div class="col-xl-6">
                <label class="form-label">Tên sản phẩm</label>
                <input id="productName" type="text" class="form-control">
            </div>
            <div class="col-xl-6">
                <label class="form-label">Danh mục</label>
                <select id="category" class="default-select form-control">
                    <option>Chọn danh mục</option>
                    <option value="1">Danh mục 1</option>
                    <option value="2">Danh mục 2</option>
                </select>
            </div>
            <div class="col-xl-6">
                <label class="form-label">Số lượng</label>
                <input id="quantity" type="number" class="form-control">
            </div>
            <div class="col-xl-6">
                <label class="form-label">Giá</label>
                <input id="price" type="text" class="form-control">
            </div>
            <div class="col-xl-12">
                <label class="form-label">Mô tả</label>
                <textarea id="description" class="form-control" rows="4"></textarea>
            </div>
            <div class="col-xl-12">
                <label class="form-check-label" for="status">Kích hoạt sản phẩm</label>
                <input id="status" type="checkbox" class="form-check-input">
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
            </div>
        </div>
    </form>
</div>
