
<div class="content-body">
	<!-- row -->
	<div class="page-titles">
		<ol class="breadcrumb">
			<li><h5 class="bc-title">Dashboard</h5></li>
			<li class="breadcrumb-item">
				<a href="javascript:void(0)">
					<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					Home
				</a>
			</li>
			<li class="breadcrumb-item active"><a href="javascript:void(0)">Tổng quan</a></li>
		</ol>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-9 wid-100">
				<div class="row">
					<div class="col-xl-4 col-sm-6">
						<div class="card chart-grd same-card">
							<div class="card-body depostit-card p-0">
								<div class="depostit-card-media d-flex justify-content-between pb-0">
									<div>
										<h6>
											Tổng doanh thu
										</h6>
										<h3>@(String.Format("{0:n0}", TempData["total"])) đ</h3>
									</div>
									<div class="icon-box bg-primary-light">
										<svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.4642 13.7074C11.4759 12.1252 10.8504 10.8738 9.60279 9.99009C8.6392 9.30968 7.46984 8.95476 6.33882 8.6137C3.98274 7.89943 3.29927 7.52321 3.29927 6.3965C3.29927 5.14147 4.93028 4.69493 6.32655 4.69493C7.34341 4.69493 8.51331 5.01109 9.23985 5.47964L10.6802 3.24887C9.73069 2.6333 8.43112 2.21342 7.14783 2.0831V0H4.49076V2.22918C2.12884 2.74876 0.640949 4.29246 0.640949 6.3965C0.640949 7.87005 1.25327 9.03865 2.45745 9.86289C3.37331 10.4921 4.49028 10.83 5.56927 11.1572C7.88027 11.8557 8.81873 12.2813 8.80805 13.691L8.80799 13.7014C8.80799 14.8845 7.24005 15.3051 5.89676 15.3051C4.62786 15.3051 3.248 14.749 2.46582 13.9222L0.535522 15.7481C1.52607 16.7957 2.96523 17.5364 4.4907 17.8267V20.0001H7.14783V17.8735C9.7724 17.4978 11.4616 15.9177 11.4642 13.7074Z" fill="var(--primary)" />
										</svg>
									</div>
								</div>
								<div id="NewCustomers"></div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="card same-card">
							<div class="card-body d-flex align-items-center  py-2">
								<div id="AllProject"></div>
								<ul class="project-list">
									<li><h6>Tất cả đơn hàng</h6></li>
									<li>
										<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect width="10" height="10" rx="3" fill="#3AC977" />
										</svg>
										Đã giao
									</li>
									<li>
										<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect width="10" height="10" rx="3" fill="var(--primary)" />
										</svg>
										Đang xử lí
									</li>
									<li>
										<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect width="10" height="10" rx="3" fill="var(--secondary)" />
										</svg>
										Trạng thái khác
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="card chart-grd same-card">
							<div class="card-body depostit-card p-0">
								<div class="depostit-card-media d-flex justify-content-between pb-0">
									<div>
										<h6>Tổng tiền lỗ</h6>
										<h3>@(String.Format("{0:n0}", TempData["totalLoss"])) đ</h3>
									</div>
									<div class="icon-box bg-danger-light">
										<svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.4642 13.7074C11.4759 12.1252 10.8504 10.8738 9.60279 9.99009C8.6392 9.30968 7.46984 8.95476 6.33882 8.6137C3.98274 7.89943 3.29927 7.52321 3.29927 6.3965C3.29927 5.14147 4.93028 4.69493 6.32655 4.69493C7.34341 4.69493 8.51331 5.01109 9.23985 5.47964L10.6802 3.24887C9.73069 2.6333 8.43112 2.21342 7.14783 2.0831V0H4.49076V2.22918C2.12884 2.74876 0.640949 4.29246 0.640949 6.3965C0.640949 7.87005 1.25327 9.03865 2.45745 9.86289C3.37331 10.4921 4.49028 10.83 5.56927 11.1572C7.88027 11.8557 8.81873 12.2813 8.80805 13.691L8.80799 13.7014C8.80799 14.8845 7.24005 15.3051 5.89676 15.3051C4.62786 15.3051 3.248 14.749 2.46582 13.9222L0.535522 15.7481C1.52607 16.7957 2.96523 17.5364 4.4907 17.8267V20.0001H7.14783V17.8735C9.7724 17.4978 11.4616 15.9177 11.4642 13.7074Z" fill="#FF5E5E" />
										</svg>
									</div>
								</div>
								<div id="NewExperience"></div>
							</div>
						</div>
					</div>
					<div class="col-xl-9">
						<div class="card overflow-hidden">
							<div class="card-header border-0 pb-0 flex-wrap">
								<h4 class="heading mb-0">Tổng quan tình trạng đơn hàng</h4>
								<ul class="nav nav-pills mix-chart-tab" id="pills-tab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" data-time-range="day" id="pills-week-tab" data-bs-toggle="pill" data-bs-target="#pills-week" type="button" role="tab" aria-selected="true">Ngày </button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" data-time-range="week" id="pills-week-tab" data-bs-toggle="pill" data-bs-target="#pills-week" type="button" role="tab" aria-selected="true">Tuần </button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" data-time-range="month" id="pills-month-tab" data-bs-toggle="pill" data-bs-target="#pills-month" type="button" role="tab" aria-selected="false">Tháng</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" data-time-range="year" id="pills-year-tab" data-bs-toggle="pill" data-bs-target="#pills-year" type="button" role="tab" aria-selected="false">Năm</button>
									</li>
								</ul>
							</div>
							<div class="card-body  p-0">
								<div id="overiewChart"></div>
								<div class="ttl-project">
									<div class="pr-data">
										<h5 id="amountOrders">###</h5>
										<span>Số lượng đơn hàng</span>
									</div>
									<div class="pr-data">
										<h5 class="text-primary" id="amountSuccessOrders">###</h5>
										<span>Số lượng đơn hàng đã giao</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 up-shd">
						<div class="card">
							<div class="card-header pb-0 border-0 d-flex row">
								<h4 class="heading mb-0">Tình Trạng Đơn Hàng</h4>

								<select class="default-select status-select normal-select form-select">
									<option value="day">Hôm nay</option>
									<option value="week">Tuần</option>
									<option value="month">Tháng</option>
									<option value="total">Tổng Trạng Thái Đơn Hàng</option>
								</select>
							</div>
							<div class="card-body">
								<div id="projectChart" class="project-chart"></div>
								<div class="project-date" id="project-date">
									<div class="project-media">
										<p class="mb-0">
											<svg class="me-2" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect y="0.5" width="12" height="12" rx="3" fill="var(--primary)" />
											</svg>
											Đã xác nhận
										</p>
										<span><span id="amountApproved"></span> Đơn hàng</span>
									</div>
									<div class="project-media">
										<p class="mb-0">
											<svg class="me-2" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect y="0.5" width="12" height="12" rx="3" fill="#3AC977" />
											</svg>
											Đã hủy
										</p>
										<span><span id="amountCancelled"></span> Đơn hàng</span>
									</div>
									<div class="project-media">
										<p class="mb-0">
											<svg class="me-2" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect y="0.5" width="12" height="12" rx="3" fill="#FF5E5E" />
											</svg>
											Đang chờ
										</p>
										<span><span id="amountPending"></span> Đơn hàng</span>
									</div>
									<div class="project-media">
										<p class="mb-0">
											<svg class="me-2" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect y="0.5" width="12" height="12" rx="3" fill="#FF9F00" />
											</svg>
											Đang giao
										</p>
										<span><span id="amountInProcess"></span> Đơn hàng</span>
									</div>
									<div class="project-media">
										<p class="mb-0">
											<svg class="me-2" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect y="0.5" width="12" height="12" rx="3" fill="#ffb8c6" />
											</svg>
											Đã giao
										</p>
										<span><span id="amountShipped"></span> Đơn hàng</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 t-earn">
				<div class="card">
					<div class="card-header border-0 pb-0">
						<h4 class="heading mb-0">Tổng thu nhập</h4>
					</div>
					<div class="card-body px-0 overflow-hidden">
						<div class="total-earning">
							<h2>@( String.Format("{0:n0}",((int)TempData["total"] - (int)TempData["totalLoss"]))  ) đ</h2>
							<ul class="nav nav-underline mb-3 earning-tab earning-chart" id="pills-tab1" role="tablist">
								<li class="nav-item px-2" role="presentation">
									<button class="nav-link py-2 px-0 border-3 m-0 active" data-series="day" id="pills-day-tab1" data-bs-toggle="pill" data-bs-target="#pills-day1" type="button" role="tab" aria-selected="true">Ngày</button>
								</li>
								<li class="nav-item px-2" role="presentation">
									<button class="nav-link py-2 px-0 border-3 m-0" id="pills-week-tab1" data-series="week" data-bs-toggle="pill" data-bs-target="#pills-week1" type="button" role="tab" aria-selected="false">Tuần</button>
								</li>
								<li class="nav-item px-2" role="presentation">
									<button class="nav-link py-2 px-0 border-3 m-0" id="pills-month-tab1" data-series="month" data-bs-toggle="pill" data-bs-target="#pills-month1" type="button" role="tab" aria-selected="false">Tháng</button>
								</li>
								<li class="nav-item px-2" role="presentation">
									<button class="nav-link py-2 px-0 border-3 m-0" id="pills-year-tab1" data-series="year" data-bs-toggle="pill" data-bs-target="#pills-year1" type="button" role="tab" aria-selected="false">Năm</button>
								</li>
							</ul>
							<div id="earningChart"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 active-p">
				<div class="card">
					<div class="card-body p-0">
						<div class="table-responsive active-projects shorting">

							<div class="tbl-caption d-flex justify-content-between">
								<h4 class="heading mb-0">Đơn hàng gần đây</h4>
								<a class="btn btn-primary btn-sm" href="/Employee/ManagerOrder/Index" role="button" aria-controls="upsertObject">Quản lý</a>

							</div>
							<div class="table-responsive p-3 datatables">
								<table id="donhangDatatable" class="table display">
									<thead>
										<tr>
										</tr>
									</thead>
									<tbody></tbody>
								
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 bst-seller">
				<div class="card">
					<div class="card-header border-0">
						<h4 class="heading mb-0">Top sản phẩm được bán chạy</h4>
						<div class="d-flex align-items-center cs-settiong">

							<div>
								<a class="btn btn-primary btn-sm" href="/Employee/ManagerProduct/Index" role="button" aria-controls="upsertObject">Quản lý</a>
							</div>
							@* <span>SORT BY:</span>
							<select class="default-select status-select normal-select">
								<option value="Today">Ngày</option>
								<option value="Week">Tuần</option>
								<option value="Month">Tháng</option>
							</select> *@
						</div>
					</div>
					<div class="card-body p-0">
						<div class="table-responsive active-projects active-projects ItemsCheckboxSec selling-product shorting">
							<div class="table-responsive p-3 datatables">
								<table id="productDashboard" class="table display">
									<thead>
										<tr>
											<th>
												Tên Sản Phẩm
											</th>
											<th>Số Lượng</th>
											<th>Giá</th>
											<th>Ngày Tạo</th>
											<th>Tình Trạng</th>
										</tr>
									</thead>
									<tbody>
									
									</tbody>
								</table>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="col-xl-12 bst-seller">
				<div class="card">
					<div class="card-body p-0">
						<div class="table-responsive active-projects style-1 ItemsCheckboxSec shorting ">
							<div class="tbl-caption">
								<h4 class="heading mb-0">Danh sách người dùng</h4>
								<div>
									<a class="btn btn-primary btn-sm" href="/Employee/ManagerUser/Index" role="button" aria-controls="upsertObject">Quản lý</a>
								</div>
							</div>
							<div class="table-responsive p-3 datatables">
								<table id="empoloyeesDatatale" class="display table">
									<thead>
										<tr>
											<th>Tên nhân viên</th>
											<th>Email</th>
											<th>Giới tính</th>
											<th>Số liên lạc</th>
											<th>Tình trạng</th>
										</tr>
									</thead>
									<tbody>
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

@section Scripts {
	<script src="~/employee/vendor/chart.js/Chart.bundle.min.js" asp-append-version="true"></script>
	<script src="~/employee/vendor/apexchart/apexchart.js" asp-append-version="true"></script>
	<script src="~/employee/js/dashboard/dashboard-1.js" asp-append-version="true"></script>

	<script src="~/js/employee/dashboard.js" asp-append-version="true"></script>



}
