@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
	<!-- row -->
	<div class="page-titles">
		<ol class="breadcrumb">
			<li><h5 class="bc-title">Finance</h5></li>
			<li class="breadcrumb-item">
				<a href="javascript:void(0)">
					<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					Home
				</a>
			</li>
			<li class="breadcrumb-item active"><a href="javascript:void(0)">Finance</a></li>
		</ol>
		<a class="text-primary fs-13" data-bs-toggle="offcanvas" href="#upsertObject1" role="button" aria-controls="upsertObject1">+ Add Task</a>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xxl-3 col-xl-4">
				<div class="card h-auto">
					<div class="card-header">
						<h4 class="heading mb-0">Thêm/Sửa Combo Sản Phẩm</h4>
					</div>
					<div class="card-body">
						<form class="form-combo">
							<!-- Tên Combo -->
							<div class="form-group mb-3">
								<label class="font-w500">Tên Combo<span class="text-danger">*</span></label>
								<input type="text" class="form-control" name="tenCombo" placeholder="Tên Combo">
							</div>

							<!-- Giảm Giá -->
							<div class="form-group mb-3">
								<label>Giảm Giá (%)<span class="text-danger">*</span></label>
								<input type="number" class="form-control" name="giamGia" min="1" max="99" placeholder="Nhập giảm giá">
							</div>

							<!-- Sản phẩm với số lượng -->
							<div class="form-group mb-3">
								<label>Chọn sản phẩm và số lượng:</label>
								<select id="sanPhamSelect" class="select2 form-control" name="sanPham[]" multiple="multiple" data-placeholder="Chọn sản phẩm" style="width:100%">
									<option value="1">Sản phẩm A</option>
									<option value="2">Sản phẩm B</option>
									<option value="3">Sản phẩm C</option>
									<!-- Thêm các sản phẩm khác -->
								</select>
							</div>

							<div class="form-group mb-3">
								<label>Tổng giá đơn hàng</label>
								<input class="form-control" type="number" value="10000" readonly/>
							</div>
							<!-- Chứa các trường nhập số lượng cho sản phẩm -->
							<div id="chiTietComboContainer"></div>

							<!-- Nút xác nhận -->
							<button type="submit" class="btn btn-primary mb-3">Xác Nhận</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xxl-9 col-xl-8">
				<div class="card">
					<div class="card-body p-0">
						<div class="table-responsive active-projects manage-client">
							<div class="tbl-caption">
								<h4 class="heading mb-0">Finance</h4>
							</div>
							<table id="empoloyees-tbl1" class="table">
								<thead>
									<tr>
										<th>Account Title</th>
										<th>Amount</th>
										<th>Account No</th>
										<th>Branch Code</th>
										<th>Branch Name</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Saving</a>
										</td>
										<td><span>500 $</span></td>
										<td>
											<span>1234500000000</span>
										</td>
										<td>
											<span>1234</span>
										</td>
										<td>
											<span>Bank Of Uk</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Salary </a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Fixed deposit</a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Recurring deposit</a>
										</td>
										<td><span>6000 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of India</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Saving</a>
										</td>
										<td><span>500 $</span></td>
										<td>
											<span>1234500000000</span>
										</td>
										<td>
											<span>1234</span>
										</td>
										<td>
											<span>Bank Of Uk</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Salary </a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Fixed deposit</a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Fixed deposit</a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Salary </a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Fixed deposit</a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Fixed deposit</a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Recurring deposit</a>
										</td>
										<td><span>6000 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of India</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Recurring deposit</a>
										</td>
										<td><span>6000 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of India</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Fixed deposit</a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Salary </a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)" class="text-primary">Fixed deposit</a>
										</td>
										<td><span>700 $</span></td>
										<td>
											<span>678900000000</span>
										</td>
										<td>
											<span>5678</span>
										</td>
										<td>
											<span>Bank Of Lundon</span>
										</td>
									</tr>
								</tbody>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Thêm thư viện jQuery và Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        // Khởi tạo Select2 với giới hạn lựa chọn
        $('#sanPhamSelect').select2({
            maximumSelectionLength: 5
        });

        // Xử lý khi chọn sản phẩm
        $('#sanPhamSelect').on('change', function () {
            var selectedProducts = $(this).val();
            $('#chiTietComboContainer').empty(); // Xóa các trường nhập cũ

            // Tạo trường nhập số lượng cho từng sản phẩm
            selectedProducts.forEach(function (productId) {
                var productName = $('#sanPhamSelect option[value="' + productId + '"]').text();
                $('#chiTietComboContainer').append(`
                        <div class="form-group mb-3">
                            <label>${productName} - Số lượng:</label>
                            <input type="number" name="soLuong[${productId}]" min="1" class="form-control" placeholder="Nhập số lượng">
                        </div>
                    `);
            });
        });
    });
</script>
