
<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" href="/">Home</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Account</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- customer-page start -->
<section class="customer-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- account login title start -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2><span>Login account</span></h2>
                    </div>
                </div>
                <!-- account login title end -->
                <!-- account login start  -->
                <div class="log-acc-page">
                    <div class="contact-form-list">
                        <form method="post">
                            <ul class="form-fill">
                                <li class="form-fill-li Email">
                                    <label>Email address</label>
                                    <input type="email" name="q" autocomplete="email" placeholder="Email address">
                                </li>
                                <li class="form-fill-li Password">
                                    <label>Password</label>
                                    <input type="tel" name="q" placeholder="Password">
                                </li>
                            </ul>
                            <br />
                            <!-- Thêm ô reCAPTCHA -->
                            <div class="g-recaptcha" data-sitekey="6LdnYnMqAAAAAIqMXz4csz5Zw_kR3ARtWht9wjY2"></div>

                            <div class="form-action-button">
                                <div class="button-forget">
                                    <button type="submit" class="btn btn-style2">Sign in</button>
                                    <a href="javascript:void(0)" onclick="myFunction()">Forgot your password?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="acc-wrapper">
                        <h6>Already have account?</h6>
                        <div class="account-optional">
                            <a href="/Customer/Account/Login?typeUser=user">Create a account</a>
                        </div>
                    </div>
                    <div class="acc-wrapper">
                        <h6>Bạn là nhân viên?</h6>
                        <div class="account-optional">
                            <a href="/Customer/Account/Login?typeUser=employee">Đăng nhập ở đây</a>
                        </div>
                    </div>
                </div>
                <!-- account login start -->
            </div>
        </div>
    </div>
</section>


<!-- đây là link js của ô captcha -->
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>

<!-- customer-page end  -->
@*                     // 2 dòng này để thêm ô captcha

// 6LdnYnMqAAAAAIqMXz4csz5Zw_kR3ARtWht9wjY2
// 6LdnYnMqAAAAAI1yURD-aCfzDZ94HwGkY68Myw-6
 *@