@model B3cBonsai.Models.DanhMucSanPham


<div class="card h-auto">
    <div class="card-header">
        <h4 class="heading mb-0">@(Model.Id == 0 || Model == null ? "Thêm" : "Sửa") danh mục sản phẩm</h4>
    </div>
    <div class="card-body">
        <form class="form-combo" id="formUpsertCombo" onsubmit="return submitUpsertForm(event);">

            <div class="form-group mb-3">
                <label asp-for="Id" class="font-weight-bold">Mã Danh Mục</label>
                <input asp-for="Id" class="form-control" placeholder="Bạn đang tạo danh mục.." />
            </div>

            <div class="form-group mb-3">
                <label asp-for="TenDanhMuc" class="font-weight-bold">Tên Danh Mục</label>
                <input asp-for="TenDanhMuc" class="form-control" placeholder="Nhập tên danh mục" required />
                <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
            </div>

            <!-- Nút xác nhận -->
            <button type="submit" class="btn btn-primary mb-3">Xác Nhận</button>
        </form>
    </div>
</div>
