
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="detailWithDelete" aria-hidden="true">
	<div class="modal-dialog modal-dialog-center" style="width: 75%;">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="detailWithDelete">Thông tin nhân viên</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
                <div class="container-fluid">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-xl-3 col-lg-4">
                            <div class="clearfix">
                                <div class="card card-bx profile-card author-profile m-b30">
                                    <div class="card-body">
                                        <div class="p-5">
                                            <div class="author-profile">
                                                <div class="author-media">
                                                    <img src="~/images/employee/default.png" alt="">
                                                </div>
                                                <div class="author-info">
                                                    <h6 class="title">Tên Nhân Viên</h6>
                                                    <span>Nhân viên</span> <!-- Hoặc Admin -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8">
                            <div class="card profile-card card-bx m-b30">
                                <div class="card-header">
                                    <h6 class="title">Thông tin nhân viên (Mã: 12345)</h6>
                                </div>
                                <form class="profile-form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Tên đăng nhập</label>
                                                <input readonly type="text" class="form-control" value="username123">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Email</label>
                                                <input readonly type="text" class="form-control" value="employee@example.com">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Số điện thoại</label>
                                                <input readonly type="number" class="form-control" value="0123456789">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Ngày sinh</label>
                                                <input readonly type="date" class="form-control" value="2000-01-01">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Lương</label>
                                                <input readonly type="text" class="form-control" value="10,000,000 đ">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Ngày vào làm</label>
                                                <input readonly type="date" class="form-control" value="2020-01-15">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Ngày tạo thông tin</label>
                                                <input readonly type="date" class="form-control" value="2020-01-01">
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Ngày sửa thông tin gần nhất</label>
                                                <input readonly type="date" class="form-control" value="2024-01-01">
                                            </div>
                                            <div class="col-sm-12 m-b30">
                                                <label class="form-label">Địa chỉ</label>
                                                <textarea class="form-control" rows="3" readonly>123 Đường ABC, Quận 1</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="deleteObject">Xóa đối tượng</button>
			</div>
		</div>
	</div>
</div>